## One time script to download data till date

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/vishalranjan/opt/anaconda3/lib/python3.7/site-packages (3.10.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import requests
import io
import datetime
import pymongo
import numpy as np

In [5]:
base_path_john_hopkins_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'

first_available_data_date = datetime.date(2020,1,22)
today = datetime.date.today()

days_since_first_data = (today-first_available_data_date).days
date_iterator = first_available_data_date
for day in range(days_since_first_data):
    
    date_iterator_month = str(date_iterator.month) if len(str(date_iterator.month)) > 1 else '0'+str(date_iterator.month)
    date_iterator_day = str(date_iterator.day) if len(str(date_iterator.day)) > 1 else '0'+str(date_iterator.day)
    date_iterator_year = str(date_iterator.year)
    valid_file_name = date_iterator_month + '-' + date_iterator_day + '-' + date_iterator_year +'.csv'
    
    print(day," st day valid date is:",valid_file_name)
    r = requests.get(base_path_john_hopkins_url+valid_file_name)
    if r.ok:
        data = r.content.decode('utf8')
        df = pd.read_csv(io.StringIO(data))
        df.to_csv('data/'+valid_file_name,index=False)
    date_iterator = date_iterator + datetime.timedelta(days=1)
        
   


# print(today)

# d = datetime.datetime(2020,1,2)
# d.month
# d.day
# nextday = d + datetime.timedelta(days = 5) 

# print(nextday)

# print((nextday-d).days)

0  st day valid date is: 01-22-2020.csv
1  st day valid date is: 01-23-2020.csv
2  st day valid date is: 01-24-2020.csv
3  st day valid date is: 01-25-2020.csv
4  st day valid date is: 01-26-2020.csv
5  st day valid date is: 01-27-2020.csv
6  st day valid date is: 01-28-2020.csv
7  st day valid date is: 01-29-2020.csv
8  st day valid date is: 01-30-2020.csv
9  st day valid date is: 01-31-2020.csv
10  st day valid date is: 02-01-2020.csv
11  st day valid date is: 02-02-2020.csv
12  st day valid date is: 02-03-2020.csv
13  st day valid date is: 02-04-2020.csv
14  st day valid date is: 02-05-2020.csv
15  st day valid date is: 02-06-2020.csv
16  st day valid date is: 02-07-2020.csv
17  st day valid date is: 02-08-2020.csv
18  st day valid date is: 02-09-2020.csv
19  st day valid date is: 02-10-2020.csv
20  st day valid date is: 02-11-2020.csv
21  st day valid date is: 02-12-2020.csv
22  st day valid date is: 02-13-2020.csv
23  st day valid date is: 02-14-2020.csv
24  st day valid date is: 02-15-2020.csv
25  st day valid date is: 02-16-2020.csv
26  st day valid date is: 02-17-2020.csv
27  st day valid date is: 02-18-2020.csv
28  st day valid date is: 02-19-2020.csv
29  st day valid date is: 02-20-2020.csv
30  st day valid date is: 02-21-2020.csv
31  st day valid date is: 02-22-2020.csv
32  st day valid date is: 02-23-2020.csv
33  st day valid date is: 02-24-2020.csv
34  st day valid date is: 02-25-2020.csv
35  st day valid date is: 02-26-2020.csv
36  st day valid date is: 02-27-2020.csv
37  st day valid date is: 02-28-2020.csv
38  st day valid date is: 02-29-2020.csv
39  st day valid date is: 03-01-2020.csv
40  st day valid date is: 03-02-2020.csv
41  st day valid date is: 03-03-2020.csv
42  st day valid date is: 03-04-2020.csv
43  st day valid date is: 03-05-2020.csv
44  st day valid date is: 03-06-2020.csv
45  st day valid date is: 03-07-2020.csv
46  st day valid date is: 03-08-2020.csv
47  st day valid date is: 03-09-2020.csv
48  st day valid date is: 03-10-2020.csv
49  st day valid date is: 03-11-2020.csv
50  st day valid date is: 03-12-2020.csv
51  st day valid date is: 03-13-2020.csv
52  st day valid date is: 03-14-2020.csv
53  st day valid date is: 03-15-2020.csv
54  st day valid date is: 03-16-2020.csv
55  st day valid date is: 03-17-2020.csv
56  st day valid date is: 03-18-2020.csv
57  st day valid date is: 03-19-2020.csv
58  st day valid date is: 03-20-2020.csv
59  st day valid date is: 03-21-2020.csv
60  st day valid date is: 03-22-2020.csv
61  st day valid date is: 03-23-2020.csv
62  st day valid date is: 03-24-2020.csv
63  st day valid date is: 03-25-2020.csv
64  st day valid date is: 03-26-2020.csv
65  st day valid date is: 03-27-2020.csv
66  st day valid date is: 03-28-2020.csv
67  st day valid date is: 03-29-2020.csv
68  st day valid date is: 03-30-2020.csv
69  st day valid date is: 03-31-2020.csv
70  st day valid date is: 04-01-2020.csv
71  st day valid date is: 04-02-2020.csv
72  st day valid date is: 04-03-2020.csv
73  st day valid date is: 04-04-2020.csv
74  st day valid date is: 04-05-2020.csv
75  st day valid date is: 04-06-2020.csv
76  st day valid date is: 04-07-2020.csv
77  st day valid date is: 04-08-2020.csv
78  st day valid date is: 04-09-2020.csv
79  st day valid date is: 04-10-2020.csv
80  st day valid date is: 04-11-2020.csv
81  st day valid date is: 04-12-2020.csv
82  st day valid date is: 04-13-2020.csv
83  st day valid date is: 04-14-2020.csv
84  st day valid date is: 04-15-2020.csv
85  st day valid date is: 04-16-2020.csv
86  st day valid date is: 04-17-2020.csv
87  st day valid date is: 04-18-2020.csv
88  st day valid date is: 04-19-2020.csv
89  st day valid date is: 04-20-2020.csv
90  st day valid date is: 04-21-2020.csv
91  st day valid date is: 04-22-2020.csv
92  st day valid date is: 04-23-2020.csv
93  st day valid date is: 04-24-2020.csv
94  st day valid date is: 04-25-2020.csv
95  st day valid date is: 04-26-2020.csv
96  st day valid date is: 04-27-2020.csv
97  st day valid date is: 04-28-2020.csv
98  st day valid date is: 04-29-2020.csv
99  st day valid date is: 04-30-2020.csv
100  st day valid date is: 05-01-2020.csv
101  st day valid date is: 05-02-2020.csv

In [6]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-03 02:32:28,34.223334,-82.461707,31,0,0,31,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-03 02:32:28,30.295065,-92.414197,133,10,0,123,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-03 02:32:28,37.767072,-75.632346,353,5,0,348,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-03 02:32:28,43.452658,-116.241552,705,17,0,688,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-03 02:32:28,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3187,NaN,NaN,NaN,West Bank and Gaza,2020-05-03 02:32:28,31.952200,35.233200,353,2,76,275,West Bank and Gaza
3188,NaN,NaN,NaN,Western Sahara,2020-05-03 02:32:28,24.215500,-12.885800,6,0,5,1,Western Sahara
3189,NaN,NaN,NaN,Yemen,2020-05-03 02:32:28,15.552727,48.516388,10,2,1,7,Yemen
3190,NaN,NaN,NaN,Zambia,2020-05-03 02:32:28,-13.133897,27.849332,119,3,75,41,Zambia
3191,NaN,NaN,NaN,Zimbabwe,2020-05-03 02:32:28,-19.015438,29.154857,34,4,5,25,Zimbabwe

In [7]:
df['Country_Region'].value_counts()

US                        2927
China                       33
Canada                      15
United Kingdom              11
France                      11
                          ...
Trinidad and Tobago          1
Bosnia and Herzegovina       1
United Arab Emirates         1
Malta                        1
Mongolia                     1
Name: Country_Region, Length: 187, dtype: int64

In [8]:
df[df['Country_Region']=='India']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3085,NaN,NaN,NaN,India,2020-05-03 02:32:28,20.593684,78.96288,39699,1323,10819,27557,India

In [9]:
df[df['Country_Region']=='United Kingdom']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2921,NaN,NaN,Anguilla,United Kingdom,2020-05-03 02:32:28,18.220600,-63.068600,3,0,3,0,"Anguilla, United Kingdom"
2926,NaN,NaN,Bermuda,United Kingdom,2020-05-03 02:32:28,32.307800,-64.750500,114,7,51,56,"Bermuda, United Kingdom"
2929,NaN,NaN,British Virgin Islands,United Kingdom,2020-05-03 02:32:28,18.420700,-64.640000,6,1,3,2,"British Virgin Islands, United Kingdom"
2930,NaN,NaN,Cayman Islands,United Kingdom,2020-05-03 02:32:28,19.313300,-81.254600,74,1,10,63,"Cayman Islands, United Kingdom"
2931,NaN,NaN,Channel Islands,United Kingdom,2020-05-03 02:32:28,49.372300,-2.364400,543,41,406,96,"Channel Islands, United Kingdom"
2936,NaN,NaN,Falkland Islands (Malvinas),United Kingdom,2020-05-03 02:32:28,-51.796300,-59.523600,13,0,13,0,"Falkland Islands (Malvinas), United Kingdom"
2942,NaN,NaN,Gibraltar,United Kingdom,2020-05-03 02:32:28,36.140800,-5.353600,144,0,132,12,"Gibraltar, United Kingdom"
2959,NaN,NaN,Isle of Man,United Kingdom,2020-05-03 02:32:28,54.236100,-4.548100,320,22,271,27,"Isle of Man, United Kingdom"
2968,NaN,NaN,Montserrat,United Kingdom,2020-05-03 02:32:28,16.742498,-62.187366,11,1,2,8,"Montserrat, United Kingdom"
3001,NaN,NaN,Turks and Caicos Islands,United Kingdom,2020-05-03 02:32:28,21.694000,-71.797900,12,1,5,6,"Turks and Caicos Islands, United Kingdom"
3182,NaN,NaN,NaN,United Kingdom,2020-05-03 02:32:28,55.378100,-3.436000,182260,28131,0,154129,United Kingdom

In [10]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-03 02:32:28,34.223334,-82.461707,31,0,0,31,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-03 02:32:28,30.295065,-92.414197,133,10,0,123,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-03 02:32:28,37.767072,-75.632346,353,5,0,348,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-03 02:32:28,43.452658,-116.241552,705,17,0,688,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-03 02:32:28,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3187,NaN,NaN,NaN,West Bank and Gaza,2020-05-03 02:32:28,31.952200,35.233200,353,2,76,275,West Bank and Gaza
3188,NaN,NaN,NaN,Western Sahara,2020-05-03 02:32:28,24.215500,-12.885800,6,0,5,1,Western Sahara
3189,NaN,NaN,NaN,Yemen,2020-05-03 02:32:28,15.552727,48.516388,10,2,1,7,Yemen
3190,NaN,NaN,NaN,Zambia,2020-05-03 02:32:28,-13.133897,27.849332,119,3,75,41,Zambia
3191,NaN,NaN,NaN,Zimbabwe,2020-05-03 02:32:28,-19.015438,29.154857,34,4,5,25,Zimbabwe

In [11]:
df['Country_Region'].nunique()

187

In [12]:
countries_with_province = df[pd.notnull(df['Province_State'])]

In [13]:
countries_with_province['Province_State'].nunique()

137

In [14]:
countries_with_province['Country_Region'].nunique()

8

In [15]:
countries_with_province[countries_with_province['Country_Region']=='US']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-03 02:32:28,34.223334,-82.461707,31,0,0,31,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-03 02:32:28,30.295065,-92.414197,133,10,0,123,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-03 02:32:28,37.767072,-75.632346,353,5,0,348,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-03 02:32:28,43.452658,-116.241552,705,17,0,688,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-03 02:32:28,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2947,66.0,NaN,Guam,US,2020-05-03 02:32:28,13.444300,144.793700,145,5,0,140,"Guam, US"
2974,69.0,NaN,Northern Mariana Islands,US,2020-05-03 02:32:28,15.097900,145.673900,14,2,0,12,"Northern Mariana Islands, US"
2980,72.0,NaN,Puerto Rico,US,2020-05-03 02:32:28,18.220800,-66.590100,1757,95,0,1662,"Puerto Rico, US"
2985,NaN,NaN,Recovered,US,2020-05-03 02:32:28,NaN,NaN,0,0,175382,-148276,"Recovered, US"
3003,78.0,NaN,Virgin Islands,US,2020-05-03 02:32:28,18.335800,-64.896300,66,4,0,62,"Virgin Islands, US"

In [16]:
countries_with_province.groupby(['Country_Region']).count()

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
Australia,0,0,8,8,8,8,8,8,8,8,8
Canada,0,0,15,15,12,12,15,15,15,15,15
China,0,0,33,33,33,33,33,33,33,33,33
Denmark,0,0,2,2,2,2,2,2,2,2,2
France,0,0,10,10,10,10,10,10,10,10,10
Netherlands,0,0,4,4,4,4,4,4,4,4,4
US,2917,2920,2927,2927,2866,2866,2927,2927,2927,2927,2927
United Kingdom,0,0,10,10,10,10,10,10,10,10,10

In [17]:
countries_with_province['Province_State'].value_counts()

Texas                     214
Georgia                   159
Virginia                  134
Kentucky                  113
Missouri                  100
                         ...
New Caledonia               1
Shandong                    1
British Virgin Islands      1
Shanxi                      1
Shanghai                    1
Name: Province_State, Length: 137, dtype: int64

In [18]:
countries_without_province = df[pd.isnull(df['Province_State'])]

In [19]:
countries_without_province

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3009,NaN,NaN,NaN,Afghanistan,2020-05-03 02:32:28,33.939110,67.709953,2469,72,331,2066,Afghanistan
3010,NaN,NaN,NaN,Albania,2020-05-03 02:32:28,41.153300,20.168300,789,31,519,239,Albania
3011,NaN,NaN,NaN,Algeria,2020-05-03 02:32:28,28.033900,1.659600,4295,459,1872,1964,Algeria
3012,NaN,NaN,NaN,Andorra,2020-05-03 02:32:28,42.506300,1.521800,747,44,472,231,Andorra
3013,NaN,NaN,NaN,Angola,2020-05-03 02:32:28,-11.202700,17.873900,35,2,11,22,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...
3187,NaN,NaN,NaN,West Bank and Gaza,2020-05-03 02:32:28,31.952200,35.233200,353,2,76,275,West Bank and Gaza
3188,NaN,NaN,NaN,Western Sahara,2020-05-03 02:32:28,24.215500,-12.885800,6,0,5,1,Western Sahara
3189,NaN,NaN,NaN,Yemen,2020-05-03 02:32:28,15.552727,48.516388,10,2,1,7,Yemen
3190,NaN,NaN,NaN,Zambia,2020-05-03 02:32:28,-13.133897,27.849332,119,3,75,41,Zambia
3191,NaN,NaN,NaN,Zimbabwe,2020-05-03 02:32:28,-19.015438,29.154857,34,4,5,25,Zimbabwe

In [20]:
countries_without_province['Country_Region'].value_counts()

Sweden                1
West Bank and Gaza    1
Tajikistan            1
Iran                  1
Comoros               1
                     ..
Armenia               1
Ethiopia              1
Vietnam               1
Oman                  1
Mongolia              1
Name: Country_Region, Length: 183, dtype: int64

In [21]:
countries_without_province['Country_Region'].nunique()

183

In [22]:
pd.set_option('display.max_rows', 500)

In [23]:
countries_without_province.groupby(['Country_Region']).count().head(10)

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
Afghanistan,0,0,0,1,1,1,1,1,1,1,1
Albania,0,0,0,1,1,1,1,1,1,1,1
Algeria,0,0,0,1,1,1,1,1,1,1,1
Andorra,0,0,0,1,1,1,1,1,1,1,1
Angola,0,0,0,1,1,1,1,1,1,1,1
Antigua and Barbuda,0,0,0,1,1,1,1,1,1,1,1
Argentina,0,0,0,1,1,1,1,1,1,1,1
Armenia,0,0,0,1,1,1,1,1,1,1,1
Austria,0,0,0,1,1,1,1,1,1,1,1
Azerbaijan,0,0,0,1,1,1,1,1,1,1,1

## Get data for India day by day

In [24]:
df1 = pd.read_csv('data/02-22-2020.csv')

In [25]:
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-22T23:33:06,64084,2346,15299
1,Guangdong,Mainland China,2020-02-22T10:03:04,1339,5,728
2,Henan,Mainland China,2020-02-22T14:13:38,1270,19,830
3,Zhejiang,Mainland China,2020-02-22T11:13:13,1205,1,719
4,Hunan,Mainland China,2020-02-22T10:03:04,1013,4,692

In [26]:
df1[df1['Country/Region']=='India']['Confirmed'].values[0]

3

In [27]:
df2 = pd.read_csv('data/04-22-2020.csv')

In [28]:
df2.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-22 23:30:53,34.223334,-82.461707,22,0,0,22,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-22 23:30:53,30.295065,-92.414197,117,7,0,110,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-22 23:30:53,37.767072,-75.632346,59,1,0,58,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-22 23:30:53,43.452658,-116.241552,622,12,0,610,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-22 23:30:53,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [29]:
try:
  print(df2['Country_Region'])
except:
  print(df2['Country/Region'])

0                       US
1                       US
2                       US
3                       US
4                       US
               ...
3094    West Bank and Gaza
3095        Western Sahara
3096                 Yemen
3097                Zambia
3098              Zimbabwe
Name: Country_Region, Length: 3099, dtype: object

### Reading daily data to get India's count

In [30]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
database = myclient["covid-19"]
countries_collection = database["countries"]

In [31]:
def get_daily_data_for_country(country, df, valid_date, first_case_found):
    try:
        confirmed_cases = df[df['Country/Region']==country]['Confirmed']
        death_cases = df[df['Country/Region']==country]['Deaths']
        recovered_cases = df[df['Country/Region']==country]['Recovered']
        if len(confirmed_cases) > 0:
            print("Total number of confirmed cases in Country/Region", country, ' on ', valid_date, ' was ', df[df['Country/Region']==country]['Confirmed'].values[0])
            confirmed_cases_count = df[df['Country/Region']==country]['Confirmed'].values[0]
        if len(death_cases) > 0:
            print("Total number of deaths in Country/Region", country, ' on ', valid_date, ' was ', df[df['Country/Region']==country]['Deaths'].values[0])
            death_cases_count = df[df['Country/Region']==country]['Deaths'].values[0]
        if len(recovered_cases) > 0:
            print("Total number of recovered cases in Country/Region", country, ' on ', valid_date, ' was ', df[df['Country/Region']==country]['Recovered'].values[0])   
            recovered_cases_count = df[df['Country/Region']==country]['Recovered'].values[0]
            return confirmed_cases_count, death_cases_count, recovered_cases_count, valid_date
        else:
            print('No cases found in Country/Region ', country, ' on ', valid_date)
            return 0, 0, 0, valid_date
    except:
        confirmed_cases = df[df['Country_Region']==country]['Confirmed']
        death_cases = df[df['Country_Region']==country]['Deaths']
        recovered_cases = df[df['Country_Region']==country]['Recovered']
        if len(confirmed_cases) > 0:
            print("Total number of confirmed cases in Country_Region", country, ' on ', valid_date, ' was ', df[df['Country_Region']==country]['Confirmed'].values[0])
            confirmed_cases_count = df[df['Country_Region']==country]['Confirmed'].values[0]
        if len(death_cases) > 0:
            print("Total number of deaths in Country_Region", country, ' on ', valid_date, ' was ', df[df['Country_Region']==country]['Deaths'].values[0])
            death_cases_count = df[df['Country_Region']==country]['Deaths'].values[0]
        if len(recovered_cases) > 0:
            print("Total number of recovered cases in Country_Region", country, ' on ', valid_date, ' was ', df[df['Country_Region']==country]['Recovered'].values[0])   
            recovered_cases_count = df[df['Country_Region']==country]['Recovered'].values[0]
            return confirmed_cases_count, death_cases_count, recovered_cases_count, valid_date
        else:
            print('No cases found in Country_Region ', country, ' on ', valid_date)
            return 0, 0 , 0, valid_date

In [32]:
# def create_entry_for_country(country, date_of_first_incident, total_confirmed, delta_confirmed, total_deaths, delta_deaths, total_recovered, delta_recovered, total_active, delta_active):   
#     time_series = []
#     date_obj = [{
#         "date": str(date_of_first_incident),
#         "confirmed": {"count": total_confirmed, "delta": delta_confirmed },
#         "deaths": {"count": total_deaths, "delta": delta_deaths},
#         "recovered": {"count": total_recovered, "delta": delta_recovered},
#         "active": {"count":total_active, "delta": delta_active},
#     }]
#     #time_series.append[date_obj]
#     datax =  {
#         "name": country,
#         "coordinates":
#         {
#             "lat": "0",
#             "long": "0"
#         },
#         "firstIncidentDate": date_of_first_incident,
#         "timesSeries":date_obj,
#         "lastUpdatedAt": "04-25-2020",
#         "province": "NA"

#     }
#     x = countries_collection.insert_one(datax)

In [33]:
def add_data_for_country_to_db(country,date, total_confirmed, delta_confirmed, total_deaths, delta_deaths, total_recovered, delta_recovered, total_active, delta_active):
    if countries_collection.find({'name': country}).count() >0:
        time_series = []
        date_obj = {
            "date": str(date_of_first_incident),
            "confirmed": {"count": total_confirmed, "delta": delta_confirmed },
            "deaths": {"count": total_deaths, "delta": delta_deaths},
            "recovered": {"count": total_recovered, "delta": delta_recovered},
            "active": {"count":total_active, "delta": delta_active},
        }
        countries_collection.update({'name': country}, {'$push': {'timesSeries': date_obj}}) 
    else:
        time_series = []
        date_obj = [{
        "date": str(date_of_first_incident),
        "confirmed": {"count": total_confirmed, "delta": delta_confirmed },
        "deaths": {"count": total_deaths, "delta": delta_deaths},
        "recovered": {"count": total_recovered, "delta": delta_recovered},
        "active": {"count":total_active, "delta": delta_active},
        }]
        #time_series.append[date_obj]
        datax =  {
            "name": country,
            "coordinates":
            {
                "lat": '0',
                "long": '0'
            },
            "firstIncidentDate": date_of_first_incident,
            "timesSeries":date_obj,
            "lastUpdatedAt": "04-25-2020",
            "province": "NA"

        }
        print(datax)
        x = countries_collection.insert_one(datax)

In [34]:
# def add_data_for_country(country, date, total_confirmed, delta_confirmed, total_deaths, delta_deaths, total_recovered, delta_recovered, total_active, delta_active):
#     time_series = []
#     date_obj = {
#         "date": str(date_of_first_incident),
#         "confirmed": {"count": total_confirmed, "delta": delta_confirmed },
#         "deaths": {"count": total_deaths, "delta": delta_deaths},
#         "recovered": {"count": total_recovered, "delta": delta_recovered},
#         "active": {"count":total_active, "delta": delta_active},
#     }    
#     countries_collection.update({'name': country}, {'$push': {'timesSeries': date_obj}})

In [35]:
#sample_dict = {'name': 'India', 'coordinates': {'lat': '0', 'long': '0'}, 'firstIncidentDate': '01-30-2020', 'timesSeries': [{'date': '01-30-2020', 'confirmed': {'count': 1, 'delta': 1}, 'deaths': {'count': 0, 'delta': 0}, 'recovered': {'count': 0, 'delta': 0}, 'active': {'count': 0, 'delta': 0}}], 'lastUpdatedAt': '04-25-2020', 'province': 'NA'}

In [36]:
#type(sample_dict)

In [37]:
#x = countries_collection.insert_one(sample_dict)

In [38]:
days_since_first_data = (today-first_available_data_date).days
date_iterator = first_available_data_date
first_case_found = False
previous_confirmed_count = 0;
previous_deaths_count = 0;
previous_recovered_count = 0;

for day in range(days_since_first_data):
    date_iterator_month = str(date_iterator.month) if len(str(date_iterator.month)) > 1 else '0'+str(date_iterator.month)
    date_iterator_day = str(date_iterator.day) if len(str(date_iterator.day)) > 1 else '0'+str(date_iterator.day)
    date_iterator_year = str(date_iterator.year)
    valid_date = date_iterator_month + '-' + date_iterator_day + '-' + date_iterator_year
    valid_file_name = date_iterator_month + '-' + date_iterator_day + '-' + date_iterator_year +'.csv'
    
    #print(day," st day valid date is:",valid_file_name)
    df = pd.read_csv('data/'+valid_file_name)
    df.fillna(0, axis=1,inplace=True)
    country = 'India'
    total_confirmed, total_deaths, total_recovered, date_of_first_incident = get_daily_data_for_country(country,df,valid_date,first_case_found)
    delta_confirmed = total_confirmed - previous_confirmed_count
    delta_deaths = total_deaths - previous_deaths_count
    delta_recovered = total_recovered - previous_recovered_count
    print('delta confirmed is', delta_confirmed)
    print('delta deaths is', delta_deaths)
    print('delta recovered is', delta_recovered)
    
    previous_confirmed_count = total_confirmed
    previous_deaths_count = total_deaths
    previous_recovered_count = total_recovered
    
    if total_confirmed > 0:
        if first_case_found == False:
            print('Frist case for', country,  'on' , date_of_first_incident )
            add_data_for_country_to_db(country, date_of_first_incident, int(total_confirmed), int(delta_confirmed), total_deaths=0, delta_deaths=0, total_recovered=0, delta_recovered=0, total_active=0, delta_active=0)
            first_case_found = True
        else:
            add_data_for_country_to_db(country, valid_date, int(total_confirmed), int(delta_confirmed), int(total_deaths), int(delta_deaths), int(total_recovered), int(delta_recovered),total_active=0, delta_active=0)
    
        
    date_iterator = date_iterator + datetime.timedelta(days=1)

No cases found in Country/Region  India  on  01-22-2020
delta confirmed is 0
delta deaths is 0
delta recovered is 0
No cases found in Country/Region  India  on  01-23-2020
delta confirmed is 0
delta deaths is 0
delta recovered is 0
No cases found in Country/Region  India  on  01-24-2020
delta confirmed is 0
delta deaths is 0
delta recovered is 0
No cases found in Country/Region  India  on  01-25-2020
delta confirmed is 0
delta deaths is 0
delta recovered is 0
No cases found in Country/Region  India  on  01-26-2020
delta confirmed is 0
delta deaths is 0
delta recovered is 0
No cases found in Country/Region  India  on  01-27-2020
delta confirmed is 0
delta deaths is 0
delta recovered is 0
No cases found in Country/Region  India  on  01-28-2020
delta confirmed is 0
delta deaths is 0
delta recovered is 0
No cases found in Country/Region  India  on  01-29-2020
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  01-30-2020  was  1
Total number of deaths in Country/Region India  on  01-30-2020  was  0.0
Total number of recovered cases in Country/Region India  on  01-30-2020  was  0.0
delta confirmed is 1
delta deaths is 0.0
delta recovered is 0.0
Frist case for India on 01-30-2020
{'name': 'India', 'coordinates': {'lat': '0', 'long': '0'}, 'firstIncidentDate': '01-30-2020', 'timesSeries': [{'date': '01-30-2020', 'confirmed': {'count': 1, 'delta': 1}, 'deaths': {'count': 0, 'delta': 0}, 'recovered': {'count': 0, 'delta': 0}, 'active': {'count': 0, 'delta': 0}}], 'lastUpdatedAt': '04-25-2020', 'province': 'NA'}
Total number of confirmed cases in Country/Region India  on  01-31-2020  was  1
Total number of deaths in Country/Region India  on  01-31-2020  was  0.0
Total number of recovered cases in Country/Region India  on  01-31-2020  was  0.0
delta confirmed is 0
delta deaths is 0.0
delta recovered is 0.0
Total number of confirmed cases in Country/Region India  on  02-01-2020  was  1
Total number of deaths in Country/Region India  on  02-01-2020  was  0
Total number of recovered cases in Country/Region India  on  02-01-2020  was  0
delta confirmed is 0
delta deaths is 0.0
delta recovered is 0.0
Total number of confirmed cases in Country/Region India  on  02-02-2020  was  2
Total number of deaths in Country/Region India  on  02-02-2020  was  0
Total number of recovered cases in Country/Region India  on  02-02-2020  was  0
delta confirmed is 1
delta deaths is 0
delta recovered is 0

/Users/vishalranjan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

/Users/vishalranjan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  # This is added back by InteractiveShellApp.init_path()

Total number of confirmed cases in Country/Region India  on  02-03-2020  was  3
Total number of deaths in Country/Region India  on  02-03-2020  was  0
Total number of recovered cases in Country/Region India  on  02-03-2020  was  0
delta confirmed is 1
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-04-2020  was  3
Total number of deaths in Country/Region India  on  02-04-2020  was  0
Total number of recovered cases in Country/Region India  on  02-04-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-05-2020  was  3
Total number of deaths in Country/Region India  on  02-05-2020  was  0
Total number of recovered cases in Country/Region India  on  02-05-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-06-2020  was  3
Total number of deaths in Country/Region India  on  02-06-2020  was  0
Total number of recovered cases in Country/Region India  on  02-06-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-07-2020  was  3
Total number of deaths in Country/Region India  on  02-07-2020  was  0
Total number of recovered cases in Country/Region India  on  02-07-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-08-2020  was  3
Total number of deaths in Country/Region India  on  02-08-2020  was  0
Total number of recovered cases in Country/Region India  on  02-08-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-09-2020  was  3
Total number of deaths in Country/Region India  on  02-09-2020  was  0
Total number of recovered cases in Country/Region India  on  02-09-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-10-2020  was  3
Total number of deaths in Country/Region India  on  02-10-2020  was  0
Total number of recovered cases in Country/Region India  on  02-10-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-11-2020  was  3
Total number of deaths in Country/Region India  on  02-11-2020  was  0
Total number of recovered cases in Country/Region India  on  02-11-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-12-2020  was  3
Total number of deaths in Country/Region India  on  02-12-2020  was  0
Total number of recovered cases in Country/Region India  on  02-12-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-13-2020  was  3
Total number of deaths in Country/Region India  on  02-13-2020  was  0
Total number of recovered cases in Country/Region India  on  02-13-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-14-2020  was  3
Total number of deaths in Country/Region India  on  02-14-2020  was  0
Total number of recovered cases in Country/Region India  on  02-14-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-15-2020  was  3
Total number of deaths in Country/Region India  on  02-15-2020  was  0
Total number of recovered cases in Country/Region India  on  02-15-2020  was  0
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-16-2020  was  3
Total number of deaths in Country/Region India  on  02-16-2020  was  0
Total number of recovered cases in Country/Region India  on  02-16-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 3
Total number of confirmed cases in Country/Region India  on  02-17-2020  was  3
Total number of deaths in Country/Region India  on  02-17-2020  was  0
Total number of recovered cases in Country/Region India  on  02-17-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-18-2020  was  3
Total number of deaths in Country/Region India  on  02-18-2020  was  0
Total number of recovered cases in Country/Region India  on  02-18-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-19-2020  was  3
Total number of deaths in Country/Region India  on  02-19-2020  was  0
Total number of recovered cases in Country/Region India  on  02-19-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-20-2020  was  3
Total number of deaths in Country/Region India  on  02-20-2020  was  0
Total number of recovered cases in Country/Region India  on  02-20-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-21-2020  was  3
Total number of deaths in Country/Region India  on  02-21-2020  was  0
Total number of recovered cases in Country/Region India  on  02-21-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-22-2020  was  3
Total number of deaths in Country/Region India  on  02-22-2020  was  0
Total number of recovered cases in Country/Region India  on  02-22-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-23-2020  was  3
Total number of deaths in Country/Region India  on  02-23-2020  was  0
Total number of recovered cases in Country/Region India  on  02-23-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-24-2020  was  3
Total number of deaths in Country/Region India  on  02-24-2020  was  0
Total number of recovered cases in Country/Region India  on  02-24-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-25-2020  was  3
Total number of deaths in Country/Region India  on  02-25-2020  was  0
Total number of recovered cases in Country/Region India  on  02-25-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-26-2020  was  3
Total number of deaths in Country/Region India  on  02-26-2020  was  0
Total number of recovered cases in Country/Region India  on  02-26-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-27-2020  was  3
Total number of deaths in Country/Region India  on  02-27-2020  was  0
Total number of recovered cases in Country/Region India  on  02-27-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-28-2020  was  3
Total number of deaths in Country/Region India  on  02-28-2020  was  0
Total number of recovered cases in Country/Region India  on  02-28-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  02-29-2020  was  3
Total number of deaths in Country/Region India  on  02-29-2020  was  0
Total number of recovered cases in Country/Region India  on  02-29-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-01-2020  was  3
Total number of deaths in Country/Region India  on  03-01-2020  was  0
Total number of recovered cases in Country/Region India  on  03-01-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-02-2020  was  5
Total number of deaths in Country/Region India  on  03-02-2020  was  0
Total number of recovered cases in Country/Region India  on  03-02-2020  was  3
delta confirmed is 2
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-03-2020  was  5
Total number of deaths in Country/Region India  on  03-03-2020  was  0
Total number of recovered cases in Country/Region India  on  03-03-2020  was  3
delta confirmed is 0
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-04-2020  was  28
Total number of deaths in Country/Region India  on  03-04-2020  was  0
Total number of recovered cases in Country/Region India  on  03-04-2020  was  3
delta confirmed is 23
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-05-2020  was  30
Total number of deaths in Country/Region India  on  03-05-2020  was  0
Total number of recovered cases in Country/Region India  on  03-05-2020  was  3
delta confirmed is 2
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-06-2020  was  31
Total number of deaths in Country/Region India  on  03-06-2020  was  0
Total number of recovered cases in Country/Region India  on  03-06-2020  was  3
delta confirmed is 1
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-07-2020  was  34
Total number of deaths in Country/Region India  on  03-07-2020  was  0
Total number of recovered cases in Country/Region India  on  03-07-2020  was  3
delta confirmed is 3
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-08-2020  was  39
Total number of deaths in Country/Region India  on  03-08-2020  was  0
Total number of recovered cases in Country/Region India  on  03-08-2020  was  3
delta confirmed is 5
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-09-2020  was  43
Total number of deaths in Country/Region India  on  03-09-2020  was  0
Total number of recovered cases in Country/Region India  on  03-09-2020  was  3
delta confirmed is 4
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-10-2020  was  56
Total number of deaths in Country/Region India  on  03-10-2020  was  0
Total number of recovered cases in Country/Region India  on  03-10-2020  was  4
delta confirmed is 13
delta deaths is 0
delta recovered is 1
Total number of confirmed cases in Country/Region India  on  03-11-2020  was  62
Total number of deaths in Country/Region India  on  03-11-2020  was  1
Total number of recovered cases in Country/Region India  on  03-11-2020  was  4
delta confirmed is 6
delta deaths is 1
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-12-2020  was  73
Total number of deaths in Country/Region India  on  03-12-2020  was  1
Total number of recovered cases in Country/Region India  on  03-12-2020  was  4
delta confirmed is 11
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-13-2020  was  82
Total number of deaths in Country/Region India  on  03-13-2020  was  2
Total number of recovered cases in Country/Region India  on  03-13-2020  was  4
delta confirmed is 9
delta deaths is 1
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-14-2020  was  102
Total number of deaths in Country/Region India  on  03-14-2020  was  2
Total number of recovered cases in Country/Region India  on  03-14-2020  was  4
delta confirmed is 20
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-15-2020  was  113
Total number of deaths in Country/Region India  on  03-15-2020  was  2
Total number of recovered cases in Country/Region India  on  03-15-2020  was  13
delta confirmed is 11
delta deaths is 0
delta recovered is 9
Total number of confirmed cases in Country/Region India  on  03-16-2020  was  119
Total number of deaths in Country/Region India  on  03-16-2020  was  2
Total number of recovered cases in Country/Region India  on  03-16-2020  was  13
delta confirmed is 6
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-17-2020  was  142
Total number of deaths in Country/Region India  on  03-17-2020  was  3
Total number of recovered cases in Country/Region India  on  03-17-2020  was  14
delta confirmed is 23
delta deaths is 1
delta recovered is 1
Total number of confirmed cases in Country/Region India  on  03-18-2020  was  156
Total number of deaths in Country/Region India  on  03-18-2020  was  3
Total number of recovered cases in Country/Region India  on  03-18-2020  was  14
delta confirmed is 14
delta deaths is 0
delta recovered is 0
Total number of confirmed cases in Country/Region India  on  03-19-2020  was  194
Total number of deaths in Country/Region India  on  03-19-2020  was  4
Total number of recovered cases in Country/Region India  on  03-19-2020  was  15
delta confirmed is 38
delta deaths is 1
delta recovered is 1
Total number of confirmed cases in Country/Region India  on  03-20-2020  was  244
Total number of deaths in Country/Region India  on  03-20-2020  was  5
Total number of recovered cases in Country/Region India  on  03-20-2020  was  20
delta confirmed is 50
delta deaths is 1
delta recovered is 5
Total number of confirmed cases in Country/Region India  on  03-21-2020  was  330
Total number of deaths in Country/Region India  on  03-21-2020  was  4
Total number of recovered cases in Country/Region India  on  03-21-2020  was  23
delta confirmed is 86
delta deaths is -1
delta recovered is 3
Total number of confirmed cases in Country_Region India  on  03-22-2020  was  396
Total number of deaths in Country_Region India  on  03-22-2020  was  7
Total number of recovered cases in Country_Region India  on  03-22-2020  was  24
delta confirmed is 66
delta deaths is 3
delta recovered is 1
Total number of confirmed cases in Country_Region India  on  03-23-2020  was  499
Total number of deaths in Country_Region India  on  03-23-2020  was  10
Total number of recovered cases in Country_Region India  on  03-23-2020  was  34
delta confirmed is 103
delta deaths is 3
delta recovered is 10
Total number of confirmed cases in Country_Region India  on  03-24-2020  was  536
Total number of deaths in Country_Region India  on  03-24-2020  was  10
Total number of recovered cases in Country_Region India  on  03-24-2020  was  40
delta confirmed is 37
delta deaths is 0
delta recovered is 6
Total number of confirmed cases in Country_Region India  on  03-25-2020  was  657
Total number of deaths in Country_Region India  on  03-25-2020  was  12
Total number of recovered cases in Country_Region India  on  03-25-2020  was  43
delta confirmed is 121
delta deaths is 2
delta recovered is 3
Total number of confirmed cases in Country_Region India  on  03-26-2020  was  727
Total number of deaths in Country_Region India  on  03-26-2020  was  20
Total number of recovered cases in Country_Region India  on  03-26-2020  was  45
delta confirmed is 70
delta deaths is 8
delta recovered is 2
Total number of confirmed cases in Country_Region India  on  03-27-2020  was  887
Total number of deaths in Country_Region India  on  03-27-2020  was  20
Total number of recovered cases in Country_Region India  on  03-27-2020  was  73
delta confirmed is 160
delta deaths is 0
delta recovered is 28
Total number of confirmed cases in Country_Region India  on  03-28-2020  was  987
Total number of deaths in Country_Region India  on  03-28-2020  was  24
Total number of recovered cases in Country_Region India  on  03-28-2020  was  84
delta confirmed is 100
delta deaths is 4
delta recovered is 11
Total number of confirmed cases in Country_Region India  on  03-29-2020  was  1024
Total number of deaths in Country_Region India  on  03-29-2020  was  27
Total number of recovered cases in Country_Region India  on  03-29-2020  was  95
delta confirmed is 37
delta deaths is 3
delta recovered is 11
Total number of confirmed cases in Country_Region India  on  03-30-2020  was  1251
Total number of deaths in Country_Region India  on  03-30-2020  was  32
Total number of recovered cases in Country_Region India  on  03-30-2020  was  102
delta confirmed is 227
delta deaths is 5
delta recovered is 7
Total number of confirmed cases in Country_Region India  on  03-31-2020  was  1397
Total number of deaths in Country_Region India  on  03-31-2020  was  35
Total number of recovered cases in Country_Region India  on  03-31-2020  was  123
delta confirmed is 146
delta deaths is 3
delta recovered is 21
Total number of confirmed cases in Country_Region India  on  04-01-2020  was  1998
Total number of deaths in Country_Region India  on  04-01-2020  was  58
Total number of recovered cases in Country_Region India  on  04-01-2020  was  148
delta confirmed is 601
delta deaths is 23
delta recovered is 25
Total number of confirmed cases in Country_Region India  on  04-02-2020  was  2543
Total number of deaths in Country_Region India  on  04-02-2020  was  72
Total number of recovered cases in Country_Region India  on  04-02-2020  was  191
delta confirmed is 545
delta deaths is 14
delta recovered is 43
Total number of confirmed cases in Country_Region India  on  04-03-2020  was  2567
Total number of deaths in Country_Region India  on  04-03-2020  was  72
Total number of recovered cases in Country_Region India  on  04-03-2020  was  192
delta confirmed is 24
delta deaths is 0
delta recovered is 1
Total number of confirmed cases in Country_Region India  on  04-04-2020  was  3082
Total number of deaths in Country_Region India  on  04-04-2020  was  86
Total number of recovered cases in Country_Region India  on  04-04-2020  was  229
delta confirmed is 515
delta deaths is 14
delta recovered is 37
Total number of confirmed cases in Country_Region India  on  04-05-2020  was  3588
Total number of deaths in Country_Region India  on  04-05-2020  was  99
Total number of recovered cases in Country_Region India  on  04-05-2020  was  229
delta confirmed is 506
delta deaths is 13
delta recovered is 0
Total number of confirmed cases in Country_Region India  on  04-06-2020  was  4778
Total number of deaths in Country_Region India  on  04-06-2020  was  136
Total number of recovered cases in Country_Region India  on  04-06-2020  was  375
delta confirmed is 1190
delta deaths is 37
delta recovered is 146
Total number of confirmed cases in Country_Region India  on  04-07-2020  was  5311
Total number of deaths in Country_Region India  on  04-07-2020  was  150
Total number of recovered cases in Country_Region India  on  04-07-2020  was  421
delta confirmed is 533
delta deaths is 14
delta recovered is 46
Total number of confirmed cases in Country_Region India  on  04-08-2020  was  5916
Total number of deaths in Country_Region India  on  04-08-2020  was  178
Total number of recovered cases in Country_Region India  on  04-08-2020  was  506
delta confirmed is 605
delta deaths is 28
delta recovered is 85
Total number of confirmed cases in Country_Region India  on  04-09-2020  was  6725
Total number of deaths in Country_Region India  on  04-09-2020  was  226
Total number of recovered cases in Country_Region India  on  04-09-2020  was  620
delta confirmed is 809
delta deaths is 48
delta recovered is 114
Total number of confirmed cases in Country_Region India  on  04-10-2020  was  7598
Total number of deaths in Country_Region India  on  04-10-2020  was  246
Total number of recovered cases in Country_Region India  on  04-10-2020  was  774
delta confirmed is 873
delta deaths is 20

In [39]:
pwd

'/Users/vishalranjan/projects/covid-19/lab'