## One time script to download data till date

In [355]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-3.10.1-cp37-cp37m-macosx_10_9_x86_64.whl (350 kB)
     |████████████████████████████████| 350 kB 559 kB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-3.10.1
Note: you may need to restart the kernel to use updated packages.

In [356]:
import pandas as pd
import requests
import io
import datetime
import pymongo

In [303]:
base_path_john_hopkins_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'

first_available_data_date = datetime.date(2020,1,22)
today = datetime.date.today()

days_since_first_data = (today-first_available_data_date).days
date_iterator = first_available_data_date
for day in range(days_since_first_data):
    
    date_iterator_month = str(date_iterator.month) if len(str(date_iterator.month)) > 1 else '0'+str(date_iterator.month)
    date_iterator_day = str(date_iterator.day) if len(str(date_iterator.day)) > 1 else '0'+str(date_iterator.day)
    date_iterator_year = str(date_iterator.year)
    valid_file_name = date_iterator_month + '-' + date_iterator_day + '-' + date_iterator_year +'.csv'
    
    print(day," st day valid date is:",valid_file_name)
    r = requests.get(base_path_john_hopkins_url+valid_file_name)
    if r.ok:
        data = r.content.decode('utf8')
        df = pd.read_csv(io.StringIO(data))
        df.to_csv('data/'+valid_file_name,index=False)
    date_iterator = date_iterator + datetime.timedelta(days=1)
        
   


# print(today)

# d = datetime.datetime(2020,1,2)
# d.month
# d.day
# nextday = d + datetime.timedelta(days = 5) 

# print(nextday)

# print((nextday-d).days)

0  st day valid date is: 01-22-2020.csv
1  st day valid date is: 01-23-2020.csv
2  st day valid date is: 01-24-2020.csv
3  st day valid date is: 01-25-2020.csv
4  st day valid date is: 01-26-2020.csv
5  st day valid date is: 01-27-2020.csv
6  st day valid date is: 01-28-2020.csv
7  st day valid date is: 01-29-2020.csv
8  st day valid date is: 01-30-2020.csv
9  st day valid date is: 01-31-2020.csv
10  st day valid date is: 02-01-2020.csv
11  st day valid date is: 02-02-2020.csv
12  st day valid date is: 02-03-2020.csv
13  st day valid date is: 02-04-2020.csv
14  st day valid date is: 02-05-2020.csv
15  st day valid date is: 02-06-2020.csv
16  st day valid date is: 02-07-2020.csv
17  st day valid date is: 02-08-2020.csv
18  st day valid date is: 02-09-2020.csv
19  st day valid date is: 02-10-2020.csv
20  st day valid date is: 02-11-2020.csv
21  st day valid date is: 02-12-2020.csv
22  st day valid date is: 02-13-2020.csv
23  st day valid date is: 02-14-2020.csv
24  st day valid date is: 02-15-2020.csv
25  st day valid date is: 02-16-2020.csv
26  st day valid date is: 02-17-2020.csv
27  st day valid date is: 02-18-2020.csv
28  st day valid date is: 02-19-2020.csv
29  st day valid date is: 02-20-2020.csv
30  st day valid date is: 02-21-2020.csv
31  st day valid date is: 02-22-2020.csv
32  st day valid date is: 02-23-2020.csv
33  st day valid date is: 02-24-2020.csv
34  st day valid date is: 02-25-2020.csv
35  st day valid date is: 02-26-2020.csv
36  st day valid date is: 02-27-2020.csv
37  st day valid date is: 02-28-2020.csv
38  st day valid date is: 02-29-2020.csv
39  st day valid date is: 03-01-2020.csv
40  st day valid date is: 03-02-2020.csv
41  st day valid date is: 03-03-2020.csv
42  st day valid date is: 03-04-2020.csv
43  st day valid date is: 03-05-2020.csv
44  st day valid date is: 03-06-2020.csv
45  st day valid date is: 03-07-2020.csv
46  st day valid date is: 03-08-2020.csv
47  st day valid date is: 03-09-2020.csv
48  st day valid date is: 03-10-2020.csv
49  st day valid date is: 03-11-2020.csv
50  st day valid date is: 03-12-2020.csv
51  st day valid date is: 03-13-2020.csv
52  st day valid date is: 03-14-2020.csv
53  st day valid date is: 03-15-2020.csv
54  st day valid date is: 03-16-2020.csv
55  st day valid date is: 03-17-2020.csv
56  st day valid date is: 03-18-2020.csv
57  st day valid date is: 03-19-2020.csv
58  st day valid date is: 03-20-2020.csv
59  st day valid date is: 03-21-2020.csv
60  st day valid date is: 03-22-2020.csv
61  st day valid date is: 03-23-2020.csv
62  st day valid date is: 03-24-2020.csv
63  st day valid date is: 03-25-2020.csv
64  st day valid date is: 03-26-2020.csv
65  st day valid date is: 03-27-2020.csv
66  st day valid date is: 03-28-2020.csv
67  st day valid date is: 03-29-2020.csv
68  st day valid date is: 03-30-2020.csv
69  st day valid date is: 03-31-2020.csv
70  st day valid date is: 04-01-2020.csv
71  st day valid date is: 04-02-2020.csv
72  st day valid date is: 04-03-2020.csv
73  st day valid date is: 04-04-2020.csv
74  st day valid date is: 04-05-2020.csv
75  st day valid date is: 04-06-2020.csv
76  st day valid date is: 04-07-2020.csv
77  st day valid date is: 04-08-2020.csv
78  st day valid date is: 04-09-2020.csv
79  st day valid date is: 04-10-2020.csv
80  st day valid date is: 04-11-2020.csv
81  st day valid date is: 04-12-2020.csv
82  st day valid date is: 04-13-2020.csv
83  st day valid date is: 04-14-2020.csv
84  st day valid date is: 04-15-2020.csv
85  st day valid date is: 04-16-2020.csv
86  st day valid date is: 04-17-2020.csv
87  st day valid date is: 04-18-2020.csv
88  st day valid date is: 04-19-2020.csv
89  st day valid date is: 04-20-2020.csv
90  st day valid date is: 04-21-2020.csv
91  st day valid date is: 04-22-2020.csv
92  st day valid date is: 04-23-2020.csv
93  st day valid date is: 04-24-2020.csv
94  st day valid date is: 04-25-2020.csv

In [304]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-26 02:30:51,34.223334,-82.461707,24,0,0,24,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-26 02:30:51,30.295065,-92.414197,130,7,0,123,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-26 02:30:51,37.767072,-75.632346,146,3,0,143,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-26 02:30:51,43.452658,-116.241552,650,15,0,635,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-26 02:30:51,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3129,NaN,NaN,Queensland,Australia,2020-04-26 02:31:18,-27.469800,153.025100,1026,6,803,217,"Queensland, Australia"
3130,NaN,NaN,South Australia,Australia,2020-04-26 02:31:18,-34.928500,138.600700,438,4,401,33,"South Australia, Australia"
3131,NaN,NaN,Tasmania,Australia,2020-04-26 02:31:18,-42.882100,147.327200,207,10,117,80,"Tasmania, Australia"
3132,NaN,NaN,Victoria,Australia,2020-04-26 02:31:18,-37.813600,144.963100,1346,16,133,1197,"Victoria, Australia"
3133,NaN,NaN,Western Australia,Australia,2020-04-26 02:31:18,-31.950500,115.860500,549,8,478,63,"Western Australia, Australia"

In [305]:
df['Country_Region'].value_counts()

US                                  2873
China                                 33
Canada                                13
France                                11
United Kingdom                        11
Australia                              8
Netherlands                            5
Denmark                                3
Mozambique                             1
Botswana                               1
Dominican Republic                     1
Iran                                   1
Diamond Princess                       1
El Salvador                            1
Eritrea                                1
Liberia                                1
Switzerland                            1
Singapore                              1
Equatorial Guinea                      1
Cambodia                               1
New Zealand                            1
Belize                                 1
Nepal                                  1
Uganda                                 1
Moldova                                1
Japan                                  1
Venezuela                              1
Russia                                 1
San Marino                             1
Costa Rica                             1
Kyrgyzstan                             1
Gambia                                 1
Honduras                               1
Eswatini                               1
Kuwait                                 1
Bosnia and Herzegovina                 1
Bahrain                                1
Poland                                 1
Latvia                                 1
MS Zaandam                             1
Central African Republic               1
Croatia                                1
Jordan                                 1
Portugal                               1
Bolivia                                1
Colombia                               1
Guinea-Bissau                          1
Ireland                                1
Jamaica                                1
Barbados                               1
Lebanon                                1
Peru                                   1
Maldives                               1
Benin                                  1
Cameroon                               1
Dominica                               1
Italy                                  1
Mauritius                              1
Western Sahara                         1
Uzbekistan                             1
Sweden                                 1
Pakistan                               1
Burundi                                1
Somalia                                1
Paraguay                               1
Niger                                  1
United Arab Emirates                   1
Bangladesh                             1
Haiti                                  1
West Bank and Gaza                     1
Saint Vincent and the Grenadines       1
Malta                                  1
Uruguay                                1
Cyprus                                 1
Finland                                1
Morocco                                1
Hungary                                1
Mongolia                               1
Mauritania                             1
Senegal                                1
Saint Kitts and Nevis                  1
South Africa                           1
Taiwan*                                1
Bhutan                                 1
Austria                                1
Guatemala                              1
Nicaragua                              1
Iraq                                   1
Saudi Arabia                           1
Iceland                                1
Armenia                                1
Indonesia                              1
Antigua and Barbuda                    1
Luxembourg                             1
Belgium                                1
Gabon                                  1
Congo (Kinshasa)                       1
Cuba                                   1
Sierra Leone                           1
Ethiopia                               1
Syria                                  1
Slovakia                               1
Kosovo                                 1
Tanzania                               1
Sao Tome and Principe                  1
Zimbabwe                               1
Malawi                                 1
Saint Lucia                            1
Guinea                                 1
Philippines                            1
Brazil                                 1
Congo (Brazzaville)                    1
Georgia                                1
Ghana                                  1
Bahamas                                1
Fiji                                   1
Norway                                 1
Belarus                                1
Panama                                 1
Togo                                   1
Thailand                               1
Laos                                   1
Djibouti                               1
Albania                                1
Korea, South                           1
Estonia                                1
Grenada                                1
Slovenia                               1
Trinidad and Tobago                    1
Brunei                                 1
Czechia                                1
Nigeria                                1
Oman                                   1
Andorra                                1
Malaysia                               1
Angola                                 1
Suriname                               1
Burkina Faso                           1
Cabo Verde                             1
Sri Lanka                              1
Mali                                   1
Timor-Leste                            1
India                                  1
Qatar                                  1
Ukraine                                1
Papua New Guinea                       1
Cote d'Ivoire                          1
Afghanistan                            1
Rwanda                                 1
Mexico                                 1
Spain                                  1
Libya                                  1
Egypt                                  1
South Sudan                            1
Serbia                                 1
Germany                                1
Israel                                 1
North Macedonia                        1
Lithuania                              1
Yemen                                  1
Madagascar                             1
Burma                                  1
Liechtenstein                          1
Chile                                  1
Turkey                                 1
Tunisia                                1
Algeria                                1
Romania                                1
Vietnam                                1
Kenya                                  1
Azerbaijan                             1
Holy See                               1
Argentina                              1
Namibia                                1
Seychelles                             1
Greece                                 1
Sudan                                  1
Bulgaria                               1
Monaco                                 1
Chad                                   1
Kazakhstan                             1
Guyana                                 1
Zambia                                 1
Ecuador                                1
Montenegro                             1
Name: Country_Region, dtype: int64

In [306]:
df[df['Country_Region']=='India']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3020,NaN,NaN,NaN,India,2020-04-26 02:30:31,20.593684,78.96288,26283,825,5939,19519,India

In [307]:
df[df['Country_Region']=='United Kingdom']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2867,NaN,NaN,Anguilla,United Kingdom,2020-04-26 02:30:31,18.220600,-63.068600,3,0,1,2,"Anguilla, United Kingdom"
2871,NaN,NaN,Bermuda,United Kingdom,2020-04-26 02:30:31,32.307800,-64.750500,109,5,39,65,"Bermuda, United Kingdom"
2874,NaN,NaN,British Virgin Islands,United Kingdom,2020-04-26 02:30:31,18.420700,-64.640000,6,1,3,2,"British Virgin Islands, United Kingdom"
2875,NaN,NaN,Cayman Islands,United Kingdom,2020-04-26 02:30:31,19.313300,-81.254600,70,1,8,61,"Cayman Islands, United Kingdom"
2876,NaN,NaN,Channel Islands,United Kingdom,2020-04-26 02:30:31,49.372300,-2.364400,525,35,332,158,"Channel Islands, United Kingdom"
2881,NaN,NaN,Falkland Islands (Malvinas),United Kingdom,2020-04-26 02:30:31,-51.796300,-59.523600,13,0,11,2,"Falkland Islands (Malvinas), United Kingdom"
2887,NaN,NaN,Gibraltar,United Kingdom,2020-04-26 02:30:31,36.140800,-5.353600,136,0,131,5,"Gibraltar, United Kingdom"
2903,NaN,NaN,Isle of Man,United Kingdom,2020-04-26 02:30:31,54.236100,-4.548100,308,18,243,47,"Isle of Man, United Kingdom"
2912,NaN,NaN,Montserrat,United Kingdom,2020-04-26 02:30:31,16.742498,-62.187366,11,1,2,8,"Montserrat, United Kingdom"
2939,NaN,NaN,Turks and Caicos Islands,United Kingdom,2020-04-26 02:30:31,21.694000,-71.797900,11,1,4,6,"Turks and Caicos Islands, United Kingdom"
3116,NaN,NaN,NaN,United Kingdom,2020-04-26 02:30:31,55.378100,-3.436000,148377,20319,0,128058,United Kingdom

In [308]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-26 02:30:51,34.223334,-82.461707,24,0,0,24,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-26 02:30:51,30.295065,-92.414197,130,7,0,123,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-26 02:30:51,37.767072,-75.632346,146,3,0,143,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-26 02:30:51,43.452658,-116.241552,650,15,0,635,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-26 02:30:51,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3129,NaN,NaN,Queensland,Australia,2020-04-26 02:31:18,-27.469800,153.025100,1026,6,803,217,"Queensland, Australia"
3130,NaN,NaN,South Australia,Australia,2020-04-26 02:31:18,-34.928500,138.600700,438,4,401,33,"South Australia, Australia"
3131,NaN,NaN,Tasmania,Australia,2020-04-26 02:31:18,-42.882100,147.327200,207,10,117,80,"Tasmania, Australia"
3132,NaN,NaN,Victoria,Australia,2020-04-26 02:31:18,-37.813600,144.963100,1346,16,133,1197,"Victoria, Australia"
3133,NaN,NaN,Western Australia,Australia,2020-04-26 02:31:18,-31.950500,115.860500,549,8,478,63,"Western Australia, Australia"

In [309]:
df['Country_Region'].nunique()

185

In [310]:
countries_with_province = df[pd.notnull(df['Province_State'])]

In [311]:
countries_with_province['Province_State'].nunique()

136

In [312]:
countries_with_province['Country_Region'].nunique()

8

In [313]:
countries_with_province[countries_with_province['Country_Region']=='US']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-26 02:30:51,34.223334,-82.461707,24,0,0,24,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-26 02:30:51,30.295065,-92.414197,130,7,0,123,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-26 02:30:51,37.767072,-75.632346,146,3,0,143,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-26 02:30:51,43.452658,-116.241552,650,15,0,635,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-26 02:30:51,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2891,66.0,NaN,Guam,US,2020-04-26 02:30:51,13.444300,144.793700,141,5,0,136,"Guam, US"
2917,69.0,NaN,Northern Mariana Islands,US,2020-04-26 02:30:51,15.097900,145.673900,14,2,0,12,"Northern Mariana Islands, US"
2921,72.0,NaN,Puerto Rico,US,2020-04-26 02:30:51,18.220800,-66.590100,1307,83,0,1224,"Puerto Rico, US"
2925,NaN,NaN,Recovered,US,2020-04-26 02:30:51,NaN,NaN,0,0,100372,-100372,"Recovered, US"
2940,78.0,NaN,Virgin Islands,US,2020-04-26 02:30:51,18.335800,-64.896300,55,3,0,52,"Virgin Islands, US"

In [314]:
countries_with_province.groupby(['Country_Region']).count()

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
Australia,0,0,8,8,8,8,8,8,8,8,8
Canada,0,0,13,13,11,11,13,13,13,13,13
China,0,0,33,33,33,33,33,33,33,33,33
Denmark,0,0,2,2,2,2,2,2,2,2,2
France,0,0,10,10,10,10,10,10,10,10,10
Netherlands,0,0,4,4,4,4,4,4,4,4,4
US,2862,2866,2873,2873,2811,2811,2873,2873,2873,2873,2873
United Kingdom,0,0,10,10,10,10,10,10,10,10,10

In [315]:
countries_with_province['Province_State'].value_counts()

Texas                               207
Georgia                             159
Virginia                            134
Kentucky                            111
Missouri                            100
Illinois                             97
North Carolina                       96
Tennessee                            96
Indiana                              93
Ohio                                 88
Iowa                                 85
Michigan                             84
Mississippi                          82
Minnesota                            79
Kansas                               78
Arkansas                             74
Oklahoma                             72
Pennsylvania                         68
Wisconsin                            68
Florida                              68
Alabama                              68
Louisiana                            65
Nebraska                             59
New York                             59
Colorado                             58
California                           54
West Virginia                        49
South Carolina                       47
South Dakota                         47
Washington                           40
Idaho                                36
North Dakota                         36
Oregon                               32
Montana                              31
New Mexico                           31
Maryland                             25
Wyoming                              23
New Jersey                           22
Maine                                17
Nevada                               17
Arizona                              16
Vermont                              15
Utah                                 15
Alaska                               14
Massachusetts                        14
New Hampshire                        11
Connecticut                           9
Rhode Island                          6
Hawaii                                6
Delaware                              4
Recovered                             2
Diamond Princess                      2
Hebei                                 1
Jiangxi                               1
Heilongjiang                          1
Xinjiang                              1
Hubei                                 1
Chongqing                             1
Guam                                  1
Martinique                            1
Shaanxi                               1
Saskatchewan                          1
French Guiana                         1
Isle of Man                           1
Channel Islands                       1
Grand Princess                        1
Northern Mariana Islands              1
Shanghai                              1
Ontario                               1
Ningxia                               1
Qinghai                               1
Victoria                              1
Gibraltar                             1
British Columbia                      1
Queensland                            1
Australian Capital Territory          1
Aruba                                 1
Macau                                 1
British Virgin Islands                1
Beijing                               1
Gansu                                 1
Hunan                                 1
Yunnan                                1
Bermuda                               1
Jiangsu                               1
Prince Edward Island                  1
Liaoning                              1
Alberta                               1
Hainan                                1
Shanxi                                1
Curacao                               1
Faroe Islands                         1
Saint Pierre and Miquelon             1
New Caledonia                         1
Guangxi                               1
Hong Kong                             1
Falkland Islands (Malvinas)           1
Saint Barthelemy                      1
Anhui                                 1
Tasmania                              1
New Brunswick                         1
Cayman Islands                        1
Guizhou                               1
Jilin                                 1
Zhejiang                              1
Northern Territory                    1
Reunion                               1
Guadeloupe                            1
Turks and Caicos Islands              1
New South Wales                       1
Greenland                             1
Sichuan                               1
District of Columbia                  1
Shandong                              1
Montserrat                            1
French Polynesia                      1
South Australia                       1
Henan                                 1
Sint Maarten                          1
Mayotte                               1
Manitoba                              1
Yukon                                 1
Inner Mongolia                        1
Virgin Islands                        1
Puerto Rico                           1
Quebec                                1
Bonaire, Sint Eustatius and Saba      1
Tianjin                               1
Northwest Territories                 1
Newfoundland and Labrador             1
Guangdong                             1
St Martin                             1
Anguilla                              1
Fujian                                1
Western Australia                     1
Tibet                                 1
Name: Province_State, dtype: int64

In [316]:
countries_without_province = df[pd.isnull(df['Province_State'])]

In [317]:
countries_without_province

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2945,NaN,NaN,NaN,Afghanistan,2020-04-26 02:30:31,33.939110,67.709953,1463,47,188,1228,Afghanistan
2946,NaN,NaN,NaN,Albania,2020-04-26 02:30:31,41.153300,20.168300,712,27,403,282,Albania
2947,NaN,NaN,NaN,Algeria,2020-04-26 02:30:31,28.033900,1.659600,3256,419,1479,1358,Algeria
2948,NaN,NaN,NaN,Andorra,2020-04-26 02:30:31,42.506300,1.521800,738,40,344,354,Andorra
2949,NaN,NaN,NaN,Angola,2020-04-26 02:30:31,-11.202700,17.873900,25,2,6,17,Angola
2950,NaN,NaN,NaN,Antigua and Barbuda,2020-04-26 02:30:31,17.060800,-61.796400,24,3,11,10,Antigua and Barbuda
2951,NaN,NaN,NaN,Argentina,2020-04-26 02:30:31,-38.416100,-63.616700,3780,185,1030,2565,Argentina
2952,NaN,NaN,NaN,Armenia,2020-04-26 02:30:31,40.069100,45.038200,1677,28,803,846,Armenia
2953,NaN,NaN,NaN,Austria,2020-04-26 02:30:31,47.516200,14.550100,15148,536,12103,2509,Austria
2954,NaN,NaN,NaN,Azerbaijan,2020-04-26 02:30:31,40.143100,47.576900,1617,21,1080,516,Azerbaijan
2955,NaN,NaN,NaN,Bahamas,2020-04-26 02:30:31,25.025885,-78.035889,78,11,15,52,Bahamas
2956,NaN,NaN,NaN,Bahrain,2020-04-26 02:30:31,26.027500,50.550000,2588,8,1160,1420,Bahrain
2957,NaN,NaN,NaN,Bangladesh,2020-04-26 02:30:31,23.685000,90.356300,4998,140,113,4745,Bangladesh
2958,NaN,NaN,NaN,Barbados,2020-04-26 02:30:31,13.193900,-59.543200,79,6,31,42,Barbados
2959,NaN,NaN,NaN,Belarus,2020-04-26 02:30:31,53.709800,27.953400,9590,67,1573,7950,Belarus
2960,NaN,NaN,NaN,Belgium,2020-04-26 02:30:31,50.833300,4.469936,45325,6917,10417,27991,Belgium
2961,NaN,NaN,NaN,Belize,2020-04-26 02:30:31,17.189900,-88.497600,18,2,5,11,Belize
2962,NaN,NaN,NaN,Benin,2020-04-26 02:30:31,9.307700,2.315800,54,1,27,26,Benin
2963,NaN,NaN,NaN,Bhutan,2020-04-26 02:30:31,27.514200,90.433600,7,0,3,4,Bhutan
2964,NaN,NaN,NaN,Bolivia,2020-04-26 02:30:31,-16.290200,-63.588700,866,46,54,766,Bolivia
2965,NaN,NaN,NaN,Bosnia and Herzegovina,2020-04-26 02:30:31,43.915900,17.679100,1486,57,592,837,Bosnia and Herzegovina
2966,NaN,NaN,NaN,Botswana,2020-04-26 02:30:31,-22.328500,24.684900,22,1,0,21,Botswana
2967,NaN,NaN,NaN,Brazil,2020-04-26 02:30:31,-14.235000,-51.925300,59324,4057,29160,26107,Brazil
2968,NaN,NaN,NaN,Brunei,2020-04-26 02:30:31,4.535300,114.727700,138,1,121,16,Brunei
2969,NaN,NaN,NaN,Bulgaria,2020-04-26 02:30:31,42.733900,25.485800,1247,55,197,995,Bulgaria
2970,NaN,NaN,NaN,Burkina Faso,2020-04-26 02:30:31,12.238300,-1.561600,629,41,442,146,Burkina Faso
2971,NaN,NaN,NaN,Burma,2020-04-26 02:30:31,21.916200,95.956000,146,5,10,131,Burma
2972,NaN,NaN,NaN,Burundi,2020-04-26 02:30:31,-3.373100,29.918900,11,1,4,6,Burundi
2973,NaN,NaN,NaN,Cabo Verde,2020-04-26 02:30:31,16.538800,-23.041800,90,1,1,88,Cabo Verde
2974,NaN,NaN,NaN,Cambodia,2020-04-26 02:30:31,11.550000,104.916700,122,0,117,5,Cambodia
2975,NaN,NaN,NaN,Cameroon,2020-04-26 02:30:31,3.848000,11.502100,1518,53,697,768,Cameroon
2976,NaN,NaN,NaN,Central African Republic,2020-04-26 02:30:31,6.611100,20.939400,16,0,10,6,Central African Republic
2977,NaN,NaN,NaN,Chad,2020-04-26 02:30:31,15.454200,18.732200,46,0,15,31,Chad
2978,NaN,NaN,NaN,Chile,2020-04-26 02:30:31,-35.675100,-71.543000,12858,181,6746,5931,Chile
2979,NaN,NaN,NaN,Colombia,2020-04-26 02:30:31,4.570900,-74.297300,5142,233,1067,3842,Colombia
2980,NaN,NaN,NaN,Congo (Brazzaville),2020-04-26 02:30:31,-4.263400,15.283200,200,6,19,175,Congo (Brazzaville)
2981,NaN,NaN,NaN,Congo (Kinshasa),2020-04-26 02:30:31,-4.322447,15.307045,416,28,49,339,Congo (Kinshasa)
2982,NaN,NaN,NaN,Costa Rica,2020-04-26 02:30:31,9.748900,-83.753400,693,6,242,445,Costa Rica
2983,NaN,NaN,NaN,Cote d'Ivoire,2020-04-26 02:30:31,7.540000,-5.547100,1077,14,419,644,Cote d'Ivoire
2984,NaN,NaN,NaN,Croatia,2020-04-26 02:30:31,45.100000,15.200000,2016,54,1034,928,Croatia
2985,NaN,NaN,NaN,Cuba,2020-04-26 02:30:31,21.521757,-77.781167,1337,51,437,849,Cuba
2986,NaN,NaN,NaN,Cyprus,2020-04-26 02:30:31,35.126400,33.429900,810,14,148,648,Cyprus
2987,NaN,NaN,NaN,Czechia,2020-04-26 02:30:31,49.817500,15.473000,7352,218,2453,4681,Czechia
2988,NaN,NaN,NaN,Denmark,2020-04-26 02:30:31,56.263900,9.501800,8445,418,5669,2358,Denmark
2989,NaN,NaN,NaN,Diamond Princess,2020-04-26 02:30:31,NaN,NaN,712,13,645,54,Diamond Princess
2990,NaN,NaN,NaN,Djibouti,2020-04-26 02:30:31,11.825100,42.590300,1008,2,373,633,Djibouti
2991,NaN,NaN,NaN,Dominica,2020-04-26 02:30:31,15.415000,-61.371000,16,0,13,3,Dominica
2992,NaN,NaN,NaN,Dominican Republic,2020-04-26 02:30:31,18.735700,-70.162700,5926,273,822,4831,Dominican Republic
2993,NaN,NaN,NaN,Ecuador,2020-04-26 02:30:31,-1.831200,-78.183400,22719,576,1366,20777,Ecuador
2994,NaN,NaN,NaN,Egypt,2020-04-26 02:30:31,26.820553,30.802498,4319,307,1114,2898,Egypt
2995,NaN,NaN,NaN,El Salvador,2020-04-26 02:30:31,13.794200,-88.896500,274,8,75,191,El Salvador
2996,NaN,NaN,NaN,Equatorial Guinea,2020-04-26 02:30:31,1.650800,10.267900,258,1,7,250,Equatorial Guinea
2997,NaN,NaN,NaN,Eritrea,2020-04-26 02:30:31,15.179400,39.782300,39,0,13,26,Eritrea
2998,NaN,NaN,NaN,Estonia,2020-04-26 02:30:31,58.595300,25.013600,1635,46,228,1361,Estonia
2999,NaN,NaN,NaN,Eswatini,2020-04-26 02:30:31,-26.522500,31.465900,56,1,10,45,Eswatini
3000,NaN,NaN,NaN,Ethiopia,2020-04-26 02:30:31,9.145000,40.489700,122,3,29,90,Ethiopia
3001,NaN,NaN,NaN,Fiji,2020-04-26 02:30:31,-17.713400,178.065000,18,0,10,8,Fiji
3002,NaN,NaN,NaN,Finland,2020-04-26 02:30:31,61.924110,25.748151,4475,186,2500,1789,Finland
3003,NaN,NaN,NaN,France,2020-04-26 02:30:31,46.227600,2.213700,160292,22614,44594,93084,France
3004,NaN,NaN,NaN,Gabon,2020-04-26 02:30:31,-0.803700,11.609400,176,3,30,143,Gabon
3005,NaN,NaN,NaN,Gambia,2020-04-26 02:30:31,13.443200,-15.310100,10,1,8,1,Gambia
3006,NaN,NaN,NaN,Georgia,2020-04-26 02:30:31,42.315400,43.356900,456,5,139,312,Georgia
3007,NaN,NaN,NaN,Germany,2020-04-26 02:30:31,51.165691,10.451526,156513,5877,109800,40836,Germany
3008,NaN,NaN,NaN,Ghana,2020-04-26 02:30:31,7.946500,-1.023200,1279,10,134,1135,Ghana
3009,NaN,NaN,NaN,Greece,2020-04-26 02:30:31,39.074200,21.824300,2506,130,577,1799,Greece
3010,NaN,NaN,NaN,Grenada,2020-04-26 02:30:31,12.116500,-61.679000,18,0,7,11,Grenada
3011,NaN,NaN,NaN,Guatemala,2020-04-26 02:30:31,15.783500,-90.230800,473,13,45,415,Guatemala
3012,NaN,NaN,NaN,Guinea,2020-04-26 02:30:31,9.945600,-9.696600,996,7,208,781,Guinea
3013,NaN,NaN,NaN,Guinea-Bissau,2020-04-26 02:30:31,11.803700,-15.180400,52,0,3,49,Guinea-Bissau
3014,NaN,NaN,NaN,Guyana,2020-04-26 02:30:31,4.860416,-58.930180,73,7,12,54,Guyana
3015,NaN,NaN,NaN,Haiti,2020-04-26 02:30:31,18.971200,-72.285200,72,6,6,60,Haiti
3016,NaN,NaN,NaN,Holy See,2020-04-26 02:30:31,41.902900,12.453400,9,0,2,7,Holy See
3017,NaN,NaN,NaN,Honduras,2020-04-26 02:30:31,15.200000,-86.241900,627,59,65,503,Honduras
3018,NaN,NaN,NaN,Hungary,2020-04-26 02:30:31,47.162500,19.503300,2443,262,458,1723,Hungary
3019,NaN,NaN,NaN,Iceland,2020-04-26 02:30:31,64.963100,-19.020800,1790,10,1570,210,Iceland
3020,NaN,NaN,NaN,India,2020-04-26 02:30:31,20.593684,78.962880,26283,825,5939,19519,India
3021,NaN,NaN,NaN,Indonesia,2020-04-26 02:30:31,-0.789300,113.921300,8607,720,1042,6845,Indonesia
3022,NaN,NaN,NaN,Iran,2020-04-26 02:30:31,32.427908,53.688046,89328,5650,68193,15485,Iran
3023,NaN,NaN,NaN,Iraq,2020-04-26 02:30:31,33.223191,43.679291,1763,86,1224,453,Iraq
3024,NaN,NaN,NaN,Ireland,2020-04-26 02:30:31,53.142400,-7.692100,18561,1063,9233,8265,Ireland
3025,NaN,NaN,NaN,Israel,2020-04-26 02:30:31,31.046051,34.851612,15298,199,6435,8664,Israel
3026,NaN,NaN,NaN,Italy,2020-04-26 02:30:31,41.871940,12.567380,195351,26384,63120,105847,Italy
3027,NaN,NaN,NaN,Jamaica,2020-04-26 02:30:31,18.109600,-77.297500,305,7,28,270,Jamaica
3028,NaN,NaN,NaN,Japan,2020-04-26 02:30:31,36.204824,138.252924,13231,360,1656,11215,Japan
3029,NaN,NaN,NaN,Jordan,2020-04-26 02:30:31,31.240000,36.510000,444,7,332,105,Jordan
3030,NaN,NaN,NaN,Kazakhstan,2020-04-26 02:30:31,48.019600,66.923700,2601,25,646,1930,Kazakhstan
3031,NaN,NaN,NaN,Kenya,2020-04-26 02:30:31,-0.023600,37.906200,343,14,98,231,Kenya
3032,NaN,NaN,NaN,"Korea, South",2020-04-26 02:30:31,35.907757,127.766922,10728,242,8717,1769,"Korea, South"
3033,NaN,NaN,NaN,Kosovo,2020-04-26 02:30:31,42.602636,20.902977,510,12,93,405,Kosovo
3034,NaN,NaN,NaN,Kuwait,2020-04-26 02:30:31,29.311660,47.481766,2892,19,656,2217,Kuwait
3035,NaN,NaN,NaN,Kyrgyzstan,2020-04-26 02:30:31,41.204380,74.766098,665,8,345,312,Kyrgyzstan
3036,NaN,NaN,NaN,Laos,2020-04-26 02:30:31,19.856270,102.495496,19,0,7,12,Laos
3037,NaN,NaN,NaN,Latvia,2020-04-26 02:30:31,56.879600,24.603200,804,12,267,525,Latvia
3038,NaN,NaN,NaN,Lebanon,2020-04-26 02:30:31,33.854700,35.862300,704,24,143,537,Lebanon
3039,NaN,NaN,NaN,Liberia,2020-04-26 02:30:31,6.428055,-9.429499,120,11,25,84,Liberia
3040,NaN,NaN,NaN,Libya,2020-04-26 02:30:31,26.335100,17.228331,61,2,18,41,Libya
3041,NaN,NaN,NaN,Liechtenstein,2020-04-26 02:30:31,47.140000,9.550000,81,1,55,25,Liechtenstein
3042,NaN,NaN,NaN,Lithuania,2020-04-26 02:30:31,55.169400,23.881300,1426,41,460,925,Lithuania
3043,NaN,NaN,NaN,Luxembourg,2020-04-26 02:30:31,49.815300,6.129600,3711,85,3088,538,Luxembourg
3044,NaN,NaN,NaN,MS Zaandam,2020-04-26 02:30:31,NaN,NaN,9,2,0,7,MS Zaandam
3045,NaN,NaN,NaN,Madagascar,2020-04-26 02:30:31,-18.766947,46.869107,123,0,62,61,Madagascar
3046,NaN,NaN,NaN,Malawi,2020-04-26 02:30:31,-13.254308,34.301525,33,3,4,26,Malawi
3047,NaN,NaN,NaN,Malaysia,2020-04-26 02:30:31,4.210484,101.975766,5742,98,3762,1882,Malaysia
3048,NaN,NaN,NaN,Maldives,2020-04-26 02:30:31,3.202800,73.220700,177,0,17,160,Maldives
3049,NaN,NaN,NaN,Mali,2020-04-26 02:30:31,17.570692,-3.996166,370,21,91,258,Mali
3050,NaN,NaN,NaN,Malta,2020-04-26 02:30:31,35.937500,14.375400,448,4,249,195,Malta
3051,NaN,NaN,NaN,Mauritania,2020-04-26 02:30:31,21.007900,-10.940800,7,1,6,0,Mauritania
3052,NaN,NaN,NaN,Mauritius,2020-04-26 02:30:31,-20.348404,57.552152,331,9,295,27,Mauritius
3053,NaN,NaN,NaN,Mexico,2020-04-26 02:30:31,23.634500,-102.552800,13842,1305,7149,5388,Mexico
3054,NaN,NaN,NaN,Moldova,2020-04-26 02:30:31,47.411600,28.369900,3304,94,825,2385,Moldova
3055,NaN,NaN,NaN,Monaco,2020-04-26 02:30:31,43.733300,7.416700,94,4,42,48,Monaco
3056,NaN,NaN,NaN,Mongolia,2020-04-26 02:30:31,46.862500,103.846700,37,0,9,28,Mongolia
3057,NaN,NaN,NaN,Montenegro,2020-04-26 02:30:31,42.708678,19.374390,320,6,153,161,Montenegro
3058,NaN,NaN,NaN,Morocco,2020-04-26 02:30:31,31.791700,-7.092600,3897,159,537,3201,Morocco
3059,NaN,NaN,NaN,Mozambique,2020-04-26 02:30:31,-18.665695,35.529562,70,0,12,58,Mozambique
3060,NaN,NaN,NaN,Namibia,2020-04-26 02:30:31,-22.957600,18.490400,16,0,7,9,Namibia
3061,NaN,NaN,NaN,Nepal,2020-04-26 02:30:31,28.166700,84.250000,49,0,12,37,Nepal
3062,NaN,NaN,NaN,Netherlands,2020-04-26 02:30:31,52.132600,5.291300,37190,4409,0,32781,Netherlands
3063,NaN,NaN,NaN,New Zealand,2020-04-26 02:30:31,-40.900600,174.886000,1470,18,1142,310,New Zealand
3064,NaN,NaN,NaN,Nicaragua,2020-04-26 02:30:31,12.865416,-85.207229,12,3,7,2,Nicaragua
3065,NaN,NaN,NaN,Niger,2020-04-26 02:30:31,17.607789,8.081666,684,27,325,332,Niger
3066,NaN,NaN,NaN,Nigeria,2020-04-26 02:30:31,9.082000,8.675300,1182,35,222,925,Nigeria
3067,NaN,NaN,NaN,North Macedonia,2020-04-26 02:30:31,41.608600,21.745300,1367,59,374,934,North Macedonia
3068,NaN,NaN,NaN,Norway,2020-04-26 02:30:31,60.472000,8.468900,7499,201,32,7266,Norway
3069,NaN,NaN,NaN,Oman,2020-04-26 02:30:31,21.512583,55.923255,1905,10,329,1566,Oman
3070,NaN,NaN,NaN,Pakistan,2020-04-26 02:30:31,30.375300,69.345100,12723,269,2866,9588,Pakistan
3071,NaN,NaN,NaN,Panama,2020-04-26 02:30:31,8.538000,-80.782100,5538,159,338,5041,Panama
3072,NaN,NaN,NaN,Papua New Guinea,2020-04-26 02:30:31,-6.314993,143.955550,8,0,0,8,Papua New Guinea
3073,NaN,NaN,NaN,Paraguay,2020-04-26 02:30:31,-23.442500,-58.443800,228,9,85,134,Paraguay
3074,NaN,NaN,NaN,Peru,2020-04-26 02:30:31,-9.190000,-75.015200,25331,700,7797,16834,Peru
3075,NaN,NaN,NaN,Philippines,2020-04-26 02:30:31,12.879721,121.774017,7294,494,792,6008,Philippines
3076,NaN,NaN,NaN,Poland,2020-04-26 02:30:31,51.919400,19.145100,11273,524,2126,8623,Poland
3077,NaN,NaN,NaN,Portugal,2020-04-26 02:30:31,39.399900,-8.224500,23392,880,1277,21235,Portugal
3078,NaN,NaN,NaN,Qatar,2020-04-26 02:30:31,25.354800,51.183900,9358,10,929,8419,Qatar
3079,NaN,NaN,NaN,Romania,2020-04-26 02:30:31,45.943200,24.966800,10635,601,2890,7144,Romania
3080,NaN,NaN,NaN,Russia,2020-04-26 02:30:31,61.524010,105.318756,74588,681,6250,67657,Russia
3081,NaN,NaN,NaN,Rwanda,2020-04-26 02:30:31,-1.940300,29.873900,183,0,88,95,Rwanda
3082,NaN,NaN,NaN,Saint Kitts and Nevis,2020-04-26 02:30:31,17.357822,-62.782998,15,0,2,13,Saint Kitts and Nevis
3083,NaN,NaN,NaN,Saint Lucia,2020-04-26 02:30:31,13.909400,-60.978900,15,0,15,0,Saint Lucia
3084,NaN,NaN,NaN,Saint Vincent and the Grenadines,2020-04-26 02:30:31,12.984300,-61.287200,14,0,5,9,Saint Vincent and the Grenadines
3085,NaN,NaN,NaN,San Marino,2020-04-26 02:30:31,43.942400,12.457800,513,40,64,409,San Marino
3086,NaN,NaN,NaN,Sao Tome and Principe,2020-04-26 02:30:31,0.186360,6.613081,4,0,0,4,Sao Tome and Principe
3087,NaN,NaN,NaN,Saudi Arabia,2020-04-26 02:30:31,23.885942,45.079162,16299,136,2215,13948,Saudi Arabia
3088,NaN,NaN,NaN,Senegal,2020-04-26 02:30:31,14.497400,-14.452400,614,7,276,331,Senegal
3089,NaN,NaN,NaN,Serbia,2020-04-26 02:30:31,44.016500,21.005900,6630,125,870,5635,Serbia
3090,NaN,NaN,NaN,Seychelles,2020-04-26 02:30:31,-4.679600,55.492000,11,0,6,5,Seychelles
3091,NaN,NaN,NaN,Sierra Leone,2020-04-26 02:30:31,8.460555,-11.779889,82,2,10,70,Sierra Leone
3092,NaN,NaN,NaN,Singapore,2020-04-26 02:30:31,1.283300,103.833300,12693,12,1002,11679,Singapore
3093,NaN,NaN,NaN,Slovakia,2020-04-26 02:30:31,48.669000,19.699000,1373,17,386,970,Slovakia
3094,NaN,NaN,NaN,Slovenia,2020-04-26 02:30:31,46.151200,14.995500,1388,81,219,1088,Slovenia
3095,NaN,NaN,NaN,Somalia,2020-04-26 02:30:31,5.152149,46.199616,390,18,8,364,Somalia
3096,NaN,NaN,NaN,South Africa,2020-04-26 02:30:31,-30.559500,22.937500,4361,86,1473,2802,South Africa
3097,NaN,NaN,NaN,South Sudan,2020-04-26 02:30:31,6.877000,31.307000,5,0,0,5,South Sudan
3098,NaN,NaN,NaN,Spain,2020-04-26 02:30:31,40.463667,-3.749220,223759,22902,95708,105149,Spain
3099,NaN,NaN,NaN,Sri Lanka,2020-04-26 02:30:31,7.873054,80.771797,460,7,118,335,Sri Lanka
3100,NaN,NaN,NaN,Sudan,2020-04-26 02:30:31,12.862800,30.217600,213,17,19,177,Sudan
3101,NaN,NaN,NaN,Suriname,2020-04-26 02:30:31,3.919300,-56.027800,10,1,7,2,Suriname
3102,NaN,NaN,NaN,Sweden,2020-04-26 02:30:31,60.128161,18.643501,18177,2192,1005,14980,Sweden
3103,NaN,NaN,NaN,Switzerland,2020-04-26 02:30:31,46.818200,8.227500,28894,1599,21300,5995,Switzerland
3104,NaN,NaN,NaN,Syria,2020-04-26 02:30:31,34.802075,38.996815,42,3,11,28,Syria
3105,NaN,NaN,NaN,Taiwan*,2020-04-26 00:38:32,23.700000,121.000000,429,6,275,148,Taiwan*
3106,NaN,NaN,NaN,Tanzania,2020-04-26 02:30:31,-6.369028,34.888822,299,10,48,241,Tanzania
3107,NaN,NaN,NaN,Thailand,2020-04-26 02:30:31,15.870032,100.992541,2907,51,2547,309,Thailand
3108,NaN,NaN,NaN,Timor-Leste,2020-04-26 02:30:31,-8.874217,125.727539,24,0,2,22,Timor-Leste
3109,NaN,NaN,NaN,Togo,2020-04-26 02:30:31,8.619500,0.824800,96,6,62,28,Togo
3110,NaN,NaN,NaN,Trinidad and Tobago,2020-04-26 02:30:31,10.691800,-61.222500,115,8,53,54,Trinidad and Tobago
3111,NaN,NaN,NaN,Tunisia,2020-04-26 02:30:31,33.886917,9.537499,939,38,207,694,Tunisia
3112,NaN,NaN,NaN,Turkey,2020-04-26 02:30:31,38.963700,35.243300,107773,2706,25582,79485,Turkey
3113,NaN,NaN,NaN,Uganda,2020-04-26 02:30:31,1.373333,32.290275,75,0,46,29,Uganda
3114,NaN,NaN,NaN,Ukraine,2020-04-26 02:30:31,48.379400,31.165600,8125,201,782,7142,Ukraine
3115,NaN,NaN,NaN,United Arab Emirates,2020-04-26 02:30:31,23.424076,53.847818,9813,71,1887,7855,United Arab Emirates
3116,NaN,NaN,NaN,United Kingdom,2020-04-26 02:30:31,55.378100,-3.436000,148377,20319,0,128058,United Kingdom
3117,NaN,NaN,NaN,Uruguay,2020-04-26 02:30:31,-32.522800,-55.765800,596,14,370,212,Uruguay
3118,NaN,NaN,NaN,Uzbekistan,2020-04-26 02:30:31,41.377491,64.585262,1862,8,707,1147,Uzbekistan
3119,NaN,NaN,NaN,Venezuela,2020-04-26 02:30:31,6.423800,-66.589700,323,10,132,181,Venezuela
3120,NaN,NaN,NaN,Vietnam,2020-04-26 02:30:31,14.058324,108.277199,270,0,225,45,Vietnam
3121,NaN,NaN,NaN,West Bank and Gaza,2020-04-26 02:30:31,31.952200,35.233200,342,2,92,248,West Bank and Gaza
3122,NaN,NaN,NaN,Western Sahara,2020-04-26 02:30:31,24.215500,-12.885800,6,0,5,1,Western Sahara
3123,NaN,NaN,NaN,Yemen,2020-04-26 02:30:31,15.552727,48.516388,1,0,1,0,Yemen
3124,NaN,NaN,NaN,Zambia,2020-04-26 02:30:31,-13.133897,27.849332,84,3,37,44,Zambia
3125,NaN,NaN,NaN,Zimbabwe,2020-04-26 02:30:31,-19.015438,29.154857,31,4,2,25,Zimbabwe

In [318]:
countries_without_province['Country_Region'].value_counts()

Belgium                             1
Venezuela                           1
Monaco                              1
Chad                                1
Saudi Arabia                        1
Kazakhstan                          1
Switzerland                         1
Iceland                             1
Guyana                              1
Armenia                             1
United Kingdom                      1
Indonesia                           1
Zambia                              1
Antigua and Barbuda                 1
Syria                               1
Greece                              1
Turkey                              1
Saint Lucia                         1
Ukraine                             1
Chile                               1
Slovenia                            1
Iraq                                1
Bulgaria                            1
Diamond Princess                    1
Sudan                               1
Algeria                             1
Ecuador                             1
Vietnam                             1
Kenya                               1
Azerbaijan                          1
Holy See                            1
Taiwan*                             1
Argentina                           1
Bhutan                              1
Austria                             1
Zimbabwe                            1
Namibia                             1
El Salvador                         1
Uganda                              1
Romania                             1
Guatemala                           1
Seychelles                          1
Nicaragua                           1
Nigeria                             1
Rwanda                              1
Liechtenstein                       1
Qatar                               1
Uruguay                             1
Israel                              1
Pakistan                            1
Burundi                             1
Saint Vincent and the Grenadines    1
Lithuania                           1
Somalia                             1
Ghana                               1
Gabon                               1
Paraguay                            1
Niger                               1
Burma                               1
North Macedonia                     1
Bangladesh                          1
Timor-Leste                         1
Congo (Kinshasa)                    1
Haiti                               1
Bolivia                             1
Poland                              1
Morocco                             1
Sweden                              1
Germany                             1
Trinidad and Tobago                 1
Dominica                            1
Peru                                1
Cyprus                              1
Malta                               1
Papua New Guinea                    1
Cote d'Ivoire                       1
Maldives                            1
Benin                               1
Cameroon                            1
Mexico                              1
Serbia                              1
Italy                               1
Czechia                             1
Libya                               1
Nepal                               1
Egypt                               1
Spain                               1
Mauritius                           1
West Bank and Gaza                  1
France                              1
Mauritania                          1
Liberia                             1
Grenada                             1
Andorra                             1
Malaysia                            1
Angola                              1
Yemen                               1
Netherlands                         1
Suriname                            1
Burkina Faso                        1
MS Zaandam                          1
Cabo Verde                          1
Central African Republic            1
Croatia                             1
Togo                                1
Panama                              1
Belarus                             1
Mali                                1
Jordan                              1
Ethiopia                            1
Portugal                            1
Luxembourg                          1
Oman                                1
Bahrain                             1
Mongolia                            1
Brunei                              1
Madagascar                          1
Philippines                         1
San Marino                          1
Costa Rica                          1
Laos                                1
Djibouti                            1
Albania                             1
Kyrgyzstan                          1
South Sudan                         1
Gambia                              1
Korea, South                        1
Estonia                             1
Senegal                             1
Honduras                            1
Eswatini                            1
Kuwait                              1
Western Sahara                      1
Thailand                            1
Cuba                                1
Colombia                            1
Sierra Leone                        1
Guinea-Bissau                       1
Slovakia                            1
New Zealand                         1
Bahamas                             1
Belize                              1
Finland                             1
Fiji                                1
Saint Kitts and Nevis               1
Norway                              1
Sri Lanka                           1
Jamaica                             1
Afghanistan                         1
Bosnia and Herzegovina              1
Russia                              1
Uzbekistan                          1
Latvia                              1
Lebanon                             1
Denmark                             1
Barbados                            1
India                               1
Hungary                             1
Cambodia                            1
Singapore                           1
South Africa                        1
Moldova                             1
Ireland                             1
Japan                               1
Kosovo                              1
Tanzania                            1
Sao Tome and Principe               1
Tunisia                             1
Malawi                              1
Equatorial Guinea                   1
Mozambique                          1
Georgia                             1
United Arab Emirates                1
Guinea                              1
Botswana                            1
Dominican Republic                  1
Brazil                              1
Iran                                1
Congo (Brazzaville)                 1
Eritrea                             1
Montenegro                          1
Name: Country_Region, dtype: int64

In [319]:
countries_without_province['Country_Region'].nunique()

181

In [320]:
pd.set_option('display.max_rows', 500)

In [353]:
countries_without_province.groupby(['Country_Region']).count().head(10)

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
Afghanistan,0,0,0,1,1,1,1,1,1,1,1
Albania,0,0,0,1,1,1,1,1,1,1,1
Algeria,0,0,0,1,1,1,1,1,1,1,1
Andorra,0,0,0,1,1,1,1,1,1,1,1
Angola,0,0,0,1,1,1,1,1,1,1,1
Antigua and Barbuda,0,0,0,1,1,1,1,1,1,1,1
Argentina,0,0,0,1,1,1,1,1,1,1,1
Armenia,0,0,0,1,1,1,1,1,1,1,1
Austria,0,0,0,1,1,1,1,1,1,1,1
Azerbaijan,0,0,0,1,1,1,1,1,1,1,1

## Get data for India day by day

In [322]:
df1 = pd.read_csv('data/02-22-2020.csv')

In [323]:
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-22T23:33:06,64084,2346,15299
1,Guangdong,Mainland China,2020-02-22T10:03:04,1339,5,728
2,Henan,Mainland China,2020-02-22T14:13:38,1270,19,830
3,Zhejiang,Mainland China,2020-02-22T11:13:13,1205,1,719
4,Hunan,Mainland China,2020-02-22T10:03:04,1013,4,692

In [324]:
df1[df1['Country/Region']=='India']['Confirmed'].values[0]

3

In [ ]:
df2 = pd.read_csv('data/04-22-2020.csv')

In [ ]:
df2.head()

In [ ]:
try:
  print(df2['Country_Region'])
except:
  print(df2['Country/Region'])

### Reading daily data to get India's count

In [348]:
def get_daily_data_for_country(country,df,valid_date, first_case_found):
    try:
        value = df[df['Country/Region']==country]['Confirmed']
        if len(value) > 0:
            print("Total number of cases in Country/Region", country, ' on ', valid_date, ' was ', df[df['Country/Region']==country]['Confirmed'].values[0])
            return (df[df['Country/Region']==country]['Confirmed'].values[0]), valid_date
        else:
            print('No cases found in Country/Region ', country, ' on ', valid_date)
            return 0, valid_date
    except:
        value = df[df['Country_Region']==country]['Confirmed']
        if len(value) > 0:
            print("Total number of cases in Country_Region", country, ' on ', valid_date, ' was ', df[df['Country_Region']==country]['Confirmed'].values[0])
            return (df[df['Country_Region']==country]['Confirmed'].values[0]), valid_date
        else:
            print('No cases found in Country_Region ', country, ' on ', valid_date)
            return 0, valid_date

In [351]:
days_since_first_data = (today-first_available_data_date).days
date_iterator = first_available_data_date
first_case_found = False
previous_count = 0;

for day in range(days_since_first_data):
    date_iterator_month = str(date_iterator.month) if len(str(date_iterator.month)) > 1 else '0'+str(date_iterator.month)
    date_iterator_day = str(date_iterator.day) if len(str(date_iterator.day)) > 1 else '0'+str(date_iterator.day)
    date_iterator_year = str(date_iterator.year)
    valid_date = date_iterator_month + '-' + date_iterator_day + '-' + date_iterator_year
    valid_file_name = date_iterator_month + '-' + date_iterator_day + '-' + date_iterator_year +'.csv'
    
    #print(day," st day valid date is:",valid_file_name)
    df = pd.read_csv('data/'+valid_file_name)
    country = 'India'
    total_cases, date_of_incident = get_daily_data_for_country(country,df,valid_date,first_case_found)
    print('delta is', (total_cases-previous_count))
    previous_count = total_cases
    
    if total_cases > 0:
        if first_case_found == False:
            print('Frist case for', country,  'on' ,date_of_incident )
            first_case_found = True
    
        
    date_iterator = date_iterator + datetime.timedelta(days=1)

No cases found in Country/Region  India  on  01-22-2020
delta is 0
No cases found in Country/Region  India  on  01-23-2020
delta is 0
No cases found in Country/Region  India  on  01-24-2020
delta is 0
No cases found in Country/Region  India  on  01-25-2020
delta is 0
No cases found in Country/Region  India  on  01-26-2020
delta is 0
No cases found in Country/Region  India  on  01-27-2020
delta is 0
No cases found in Country/Region  India  on  01-28-2020
delta is 0
No cases found in Country/Region  India  on  01-29-2020
delta is 0
Total number of cases in Country/Region India  on  01-30-2020  was  1
delta is 1
Frist case for India on 01-30-2020
Total number of cases in Country/Region India  on  01-31-2020  was  1
delta is 0
Total number of cases in Country/Region India  on  02-01-2020  was  1
delta is 0
Total number of cases in Country/Region India  on  02-02-2020  was  2
delta is 1
Total number of cases in Country/Region India  on  02-03-2020  was  3
delta is 1
Total number of cases in Country/Region India  on  02-04-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-05-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-06-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-07-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-08-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-09-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-10-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-11-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-12-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-13-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-14-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-15-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-16-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-17-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-18-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-19-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-20-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-21-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-22-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-23-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-24-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-25-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-26-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-27-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-28-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  02-29-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  03-01-2020  was  3
delta is 0
Total number of cases in Country/Region India  on  03-02-2020  was  5
delta is 2
Total number of cases in Country/Region India  on  03-03-2020  was  5
delta is 0
Total number of cases in Country/Region India  on  03-04-2020  was  28
delta is 23
Total number of cases in Country/Region India  on  03-05-2020  was  30
delta is 2
Total number of cases in Country/Region India  on  03-06-2020  was  31
delta is 1
Total number of cases in Country/Region India  on  03-07-2020  was  34
delta is 3
Total number of cases in Country/Region India  on  03-08-2020  was  39
delta is 5
Total number of cases in Country/Region India  on  03-09-2020  was  43
delta is 4
Total number of cases in Country/Region India  on  03-10-2020  was  56
delta is 13
Total number of cases in Country/Region India  on  03-11-2020  was  62
delta is 6
Total number of cases in Country/Region India  on  03-12-2020  was  73
delta is 11
Total number of cases in Country/Region India  on  03-13-2020  was  82
delta is 9
Total number of cases in Country/Region India  on  03-14-2020  was  102
delta is 20
Total number of cases in Country/Region India  on  03-15-2020  was  113
delta is 11
Total number of cases in Country/Region India  on  03-16-2020  was  119
delta is 6
Total number of cases in Country/Region India  on  03-17-2020  was  142
delta is 23
Total number of cases in Country/Region India  on  03-18-2020  was  156
delta is 14
Total number of cases in Country/Region India  on  03-19-2020  was  194
delta is 38
Total number of cases in Country/Region India  on  03-20-2020  was  244
delta is 50
Total number of cases in Country/Region India  on  03-21-2020  was  330
delta is 86
Total number of cases in Country_Region India  on  03-22-2020  was  396
delta is 66
Total number of cases in Country_Region India  on  03-23-2020  was  499
delta is 103
Total number of cases in Country_Region India  on  03-24-2020  was  536
delta is 37
Total number of cases in Country_Region India  on  03-25-2020  was  657
delta is 121
Total number of cases in Country_Region India  on  03-26-2020  was  727
delta is 70
Total number of cases in Country_Region India  on  03-27-2020  was  887
delta is 160
Total number of cases in Country_Region India  on  03-28-2020  was  987
delta is 100
Total number of cases in Country_Region India  on  03-29-2020  was  1024
delta is 37
Total number of cases in Country_Region India  on  03-30-2020  was  1251
delta is 227
Total number of cases in Country_Region India  on  03-31-2020  was  1397
delta is 146
Total number of cases in Country_Region India  on  04-01-2020  was  1998
delta is 601
Total number of cases in Country_Region India  on  04-02-2020  was  2543
delta is 545
Total number of cases in Country_Region India  on  04-03-2020  was  2567
delta is 24
Total number of cases in Country_Region India  on  04-04-2020  was  3082
delta is 515
Total number of cases in Country_Region India  on  04-05-2020  was  3588
delta is 506
Total number of cases in Country_Region India  on  04-06-2020  was  4778
delta is 1190
Total number of cases in Country_Region India  on  04-07-2020  was  5311
delta is 533
Total number of cases in Country_Region India  on  04-08-2020  was  5916
delta is 605
Total number of cases in Country_Region India  on  04-09-2020  was  6725
delta is 809
Total number of cases in Country_Region India  on  04-10-2020  was  7598
delta is 873
Total number of cases in Country_Region India  on  04-11-2020  was  8446
delta is 848
Total number of cases in Country_Region India  on  04-12-2020  was  9205
delta is 759
Total number of cases in Country_Region India  on  04-13-2020  was  10453
delta is 1248
Total number of cases in Country_Region India  on  04-14-2020  was  11487
delta is 1034
Total number of cases in Country_Region India  on  04-15-2020  was  12322
delta is 835
Total number of cases in Country_Region India  on  04-16-2020  was  13430
delta is 1108
Total number of cases in Country_Region India  on  04-17-2020  was  14352
delta is 922
Total number of cases in Country_Region India  on  04-18-2020  was  15722
delta is 1370
Total number of cases in Country_Region India  on  04-19-2020  was  17615
delta is 1893
Total number of cases in Country_Region India  on  04-20-2020  was  18539
delta is 924
Total number of cases in Country_Region India  on  04-21-2020  was  20080
delta is 1541
Total number of cases in Country_Region India  on  04-22-2020  was  21370
delta is 1290
Total number of cases in Country_Region India  on  04-23-2020  was  23077
delta is 1707
Total number of cases in Country_Region India  on  04-24-2020  was  24530
delta is 1453
Total number of cases in Country_Region India  on  04-25-2020  was  26283
delta is 1753

In [326]:
pwd

'/Users/vishalranjan/projects/covid-19/lab'

In [358]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

databsase = myclient["covid-19"]

In [359]:
countries_collection = databsase["countries"]

In [368]:
datax =  {
        "name": country,
        "coordinates":
        {
            "lat": "0",
            "long": "0"
        },
        "firstIncidentDate": firs_incident_day
        "timesSeries": [],
        "lastUpdatedAt": "04-25-2020",
        "province": "Test"

    }

In [369]:
x = countries_collection.insert_one(datax)

In [367]:
x