In [3]:
import pandas as pd

In [8]:
df = pd.read_csv('data/06-04-2020.csv')

In [13]:
df_yesterday= pd.read_csv('06-08-2020.csv')

In [6]:
df_today.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-05 02:33:06,34.223334,-82.461707,46,0,0,46,"Abbeville, South Carolina, US",187.548416,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-05 02:33:06,30.295065,-92.414197,462,26,0,436,"Acadia, Louisiana, US",744.620840,5.627706
2,51001.0,Accomack,Virginia,US,2020-06-05 02:33:06,37.767072,-75.632346,966,12,0,954,"Accomack, Virginia, US",2989.231341,1.242236
3,16001.0,Ada,Idaho,US,2020-06-05 02:33:06,43.452658,-116.241552,823,22,0,801,"Ada, Idaho, US",170.893317,2.673147
4,19001.0,Adair,Iowa,US,2020-06-05 02:33:06,41.330756,-94.471059,9,0,0,9,"Adair, Iowa, US",125.838926,0.000000

In [11]:
df_today['Deaths'].sum()

609434

In [12]:
df_today[df_today['Country_Region']=='Peru']['Deaths'].sum()

203736

In [14]:
df_yesterday['Deaths'].sum()

406522

In [15]:
df_yesterday[df_yesterday['Country_Region']=='Peru']['Deaths'].sum()

5571

In [13]:
df_10 = pd.read_csv('06-10-2020.csv')

In [14]:
df_10[df_10['Country_Region']=='India']['Confirmed'].sum()

276583

In [15]:
df_9 = pd.read_csv('06-09-2020.csv')

In [16]:
df_9[df_9['Country_Region']=='India']['Confirmed'].sum()

276146

In [17]:
df_10[df_10['Country_Region']=='India']['Confirmed'].sum() -  df_9[df_9['Country_Region']=='India']['Confirmed'].sum()

437

In [18]:
df_8 = pd.read_csv('06-08-2020.csv')

In [19]:
df_8[df_8['Country_Region']=='India']['Confirmed'].sum()

265928

In [20]:
df_9[df_9['Country_Region']=='India']['Confirmed'].sum() - df_8[df_8['Country_Region']=='India']['Confirmed'].sum()

10218

In [7]:
df_today.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-05 02:33:06,34.223334,-82.461707,46,0,0,46,"Abbeville, South Carolina, US",187.548416,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-05 02:33:06,30.295065,-92.414197,462,26,0,436,"Acadia, Louisiana, US",744.620840,5.627706
2,51001.0,Accomack,Virginia,US,2020-06-05 02:33:06,37.767072,-75.632346,966,12,0,954,"Accomack, Virginia, US",2989.231341,1.242236
3,16001.0,Ada,Idaho,US,2020-06-05 02:33:06,43.452658,-116.241552,823,22,0,801,"Ada, Idaho, US",170.893317,2.673147
4,19001.0,Adair,Iowa,US,2020-06-05 02:33:06,41.330756,-94.471059,9,0,0,9,"Adair, Iowa, US",125.838926,0.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3645 entries, 0 to 3644
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FIPS                 3028 non-null   float64
 1   Admin2               3032 non-null   object
 2   Province_State       3472 non-null   object
 3   Country_Region       3645 non-null   object
 4   Last_Update          3645 non-null   object
 5   Lat                  3573 non-null   float64
 6   Long_                3573 non-null   float64
 7   Confirmed            3645 non-null   int64
 8   Deaths               3645 non-null   int64
 9   Recovered            3645 non-null   int64
 10  Active               3645 non-null   int64
 11  Combined_Key         3645 non-null   object
 12  Incidence_Rate       3573 non-null   float64
 13  Case-Fatality_Ratio  3588 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 398.8+ KB

In [20]:
list_of_ids= df['Country_Region'].unique()

In [24]:
df[df['Country_Region']=='Australia' | & ]

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incidence_Rate,Case-Fatality_Ratio
0,45001.0,Abbeville,South Carolina,US,2020-06-05 02:33:06,34.223334,-82.461707,46,0,0,46,"Abbeville, South Carolina, US",187.548416,0.000000
1,22001.0,Acadia,Louisiana,US,2020-06-05 02:33:06,30.295065,-92.414197,462,26,0,436,"Acadia, Louisiana, US",744.620840,5.627706
2,51001.0,Accomack,Virginia,US,2020-06-05 02:33:06,37.767072,-75.632346,966,12,0,954,"Accomack, Virginia, US",2989.231341,1.242236
3,16001.0,Ada,Idaho,US,2020-06-05 02:33:06,43.452658,-116.241552,823,22,0,801,"Ada, Idaho, US",170.893317,2.673147
4,19001.0,Adair,Iowa,US,2020-06-05 02:33:06,41.330756,-94.471059,9,0,0,9,"Adair, Iowa, US",125.838926,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3163,66.0,NaN,Guam,US,2020-06-05 02:33:06,13.444300,144.793700,179,5,0,174,"Guam, US",108.994148,2.793296
3300,69.0,NaN,Northern Mariana Islands,US,2020-06-05 02:33:06,15.097900,145.673900,26,16,0,10,"Northern Mariana Islands, US",47.149282,61.538462
3338,72.0,NaN,Puerto Rico,US,2020-06-05 02:33:06,18.220800,-66.590100,4508,140,0,4368,"Puerto Rico, US",153.677906,3.105590
3348,NaN,NaN,Recovered,US,2020-06-05 02:33:06,NaN,NaN,0,0,485002,-429948,"Recovered, US",NaN,NaN
3449,78.0,NaN,Virgin Islands,US,2020-06-05 02:33:06,18.335800,-64.896300,71,6,0,65,"Virgin Islands, US",66.189357,8.450704

In [22]:
for country in list_of_ids:
    print(country)
    temp_df = df[df['Country_Region']==country]
    df.to_csv(country+'.csv')

US
Italy
Brazil
Russia
Mexico
Japan
Canada
Colombia
Peru
Spain
United Kingdom
China
Chile
Netherlands
Australia
Germany
Ukraine
Denmark
France
Afghanistan
Albania
Algeria
Andorra
Angola
Antigua and Barbuda
Argentina
Armenia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belize
Benin
Bhutan
Bolivia
Bosnia and Herzegovina
Botswana
Brunei
Bulgaria
Burkina Faso
Burma
Burundi
Cabo Verde
Cambodia
Cameroon
Central African Republic
Chad
Comoros
Congo (Brazzaville)
Congo (Kinshasa)
Costa Rica
Cote d'Ivoire
Croatia
Cuba
Cyprus
Czechia
Diamond Princess
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Fiji
Finland
Gabon
Gambia
Georgia
Ghana
Greece
Grenada
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Holy See
Honduras
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Jamaica
Jordan
Kazakhstan
Kenya
Korea, South
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
MS Zaandam
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Mauritania
Mauritius
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Namibia
Nepal
New Zealand
Nicaragua
Niger
Nigeria
North Macedonia
Norway
Oman
Pakistan
Panama
Papua New Guinea
Paraguay
Philippines
Poland
Portugal
Qatar
Romania
Rwanda
Saint Kitts and Nevis
Saint Lucia
Saint Vincent and the Grenadines
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Somalia
South Africa
South Sudan
Sri Lanka
Sudan
Suriname
Sweden
Switzerland
Syria
Taiwan*
Tajikistan
Tanzania
Thailand
Timor-Leste
Togo
Trinidad and Tobago
Tunisia
Turkey
Uganda
United Arab Emirates
Uruguay
Uzbekistan
Venezuela
Vietnam
West Bank and Gaza
Western Sahara
Yemen
Zambia
Zimbabwe