## One time script to download data till date

In [2]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/vishalranjan/opt/anaconda3/lib/python3.7/site-packages (3.10.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import requests
import io
import datetime
import pymongo
import numpy as np

In [4]:
base_path_john_hopkins_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/'

first_available_data_date = datetime.date(2020,1,22)
today = datetime.date.today()

days_since_first_data = (today-first_available_data_date).days
date_iterator = first_available_data_date
for day in range(days_since_first_data):
    
    date_iterator_month = str(date_iterator.month) if len(str(date_iterator.month)) > 1 else '0'+str(date_iterator.month)
    date_iterator_day = str(date_iterator.day) if len(str(date_iterator.day)) > 1 else '0'+str(date_iterator.day)
    date_iterator_year = str(date_iterator.year)
    valid_file_name = date_iterator_month + '-' + date_iterator_day + '-' + date_iterator_year +'.csv'
    
    print(day," st day valid date is:",valid_file_name)
    r = requests.get(base_path_john_hopkins_url+valid_file_name)
    if r.ok:
        data = r.content.decode('utf8')
        df = pd.read_csv(io.StringIO(data))
        df.to_csv('data/'+valid_file_name,index=False)
    date_iterator = date_iterator + datetime.timedelta(days=1)
        
   


# print(today)

# d = datetime.datetime(2020,1,2)
# d.month
# d.day
# nextday = d + datetime.timedelta(days = 5) 

# print(nextday)

# print((nextday-d).days)

0  st day valid date is: 01-22-2020.csv
1  st day valid date is: 01-23-2020.csv
2  st day valid date is: 01-24-2020.csv
3  st day valid date is: 01-25-2020.csv
4  st day valid date is: 01-26-2020.csv
5  st day valid date is: 01-27-2020.csv
6  st day valid date is: 01-28-2020.csv
7  st day valid date is: 01-29-2020.csv
8  st day valid date is: 01-30-2020.csv
9  st day valid date is: 01-31-2020.csv
10  st day valid date is: 02-01-2020.csv
11  st day valid date is: 02-02-2020.csv
12  st day valid date is: 02-03-2020.csv
13  st day valid date is: 02-04-2020.csv
14  st day valid date is: 02-05-2020.csv
15  st day valid date is: 02-06-2020.csv
16  st day valid date is: 02-07-2020.csv
17  st day valid date is: 02-08-2020.csv
18  st day valid date is: 02-09-2020.csv
19  st day valid date is: 02-10-2020.csv
20  st day valid date is: 02-11-2020.csv
21  st day valid date is: 02-12-2020.csv
22  st day valid date is: 02-13-2020.csv
23  st day valid date is: 02-14-2020.csv
24  st day valid date is: 02-15-2020.csv
25  st day valid date is: 02-16-2020.csv
26  st day valid date is: 02-17-2020.csv
27  st day valid date is: 02-18-2020.csv
28  st day valid date is: 02-19-2020.csv
29  st day valid date is: 02-20-2020.csv
30  st day valid date is: 02-21-2020.csv
31  st day valid date is: 02-22-2020.csv
32  st day valid date is: 02-23-2020.csv
33  st day valid date is: 02-24-2020.csv
34  st day valid date is: 02-25-2020.csv
35  st day valid date is: 02-26-2020.csv
36  st day valid date is: 02-27-2020.csv
37  st day valid date is: 02-28-2020.csv
38  st day valid date is: 02-29-2020.csv
39  st day valid date is: 03-01-2020.csv
40  st day valid date is: 03-02-2020.csv
41  st day valid date is: 03-03-2020.csv
42  st day valid date is: 03-04-2020.csv
43  st day valid date is: 03-05-2020.csv
44  st day valid date is: 03-06-2020.csv
45  st day valid date is: 03-07-2020.csv
46  st day valid date is: 03-08-2020.csv
47  st day valid date is: 03-09-2020.csv
48  st day valid date is: 03-10-2020.csv
49  st day valid date is: 03-11-2020.csv
50  st day valid date is: 03-12-2020.csv
51  st day valid date is: 03-13-2020.csv
52  st day valid date is: 03-14-2020.csv
53  st day valid date is: 03-15-2020.csv
54  st day valid date is: 03-16-2020.csv
55  st day valid date is: 03-17-2020.csv
56  st day valid date is: 03-18-2020.csv
57  st day valid date is: 03-19-2020.csv
58  st day valid date is: 03-20-2020.csv
59  st day valid date is: 03-21-2020.csv
60  st day valid date is: 03-22-2020.csv
61  st day valid date is: 03-23-2020.csv
62  st day valid date is: 03-24-2020.csv
63  st day valid date is: 03-25-2020.csv
64  st day valid date is: 03-26-2020.csv
65  st day valid date is: 03-27-2020.csv
66  st day valid date is: 03-28-2020.csv
67  st day valid date is: 03-29-2020.csv
68  st day valid date is: 03-30-2020.csv
69  st day valid date is: 03-31-2020.csv
70  st day valid date is: 04-01-2020.csv
71  st day valid date is: 04-02-2020.csv
72  st day valid date is: 04-03-2020.csv
73  st day valid date is: 04-04-2020.csv
74  st day valid date is: 04-05-2020.csv
75  st day valid date is: 04-06-2020.csv
76  st day valid date is: 04-07-2020.csv
77  st day valid date is: 04-08-2020.csv
78  st day valid date is: 04-09-2020.csv
79  st day valid date is: 04-10-2020.csv
80  st day valid date is: 04-11-2020.csv
81  st day valid date is: 04-12-2020.csv
82  st day valid date is: 04-13-2020.csv
83  st day valid date is: 04-14-2020.csv
84  st day valid date is: 04-15-2020.csv
85  st day valid date is: 04-16-2020.csv
86  st day valid date is: 04-17-2020.csv
87  st day valid date is: 04-18-2020.csv
88  st day valid date is: 04-19-2020.csv
89  st day valid date is: 04-20-2020.csv
90  st day valid date is: 04-21-2020.csv
91  st day valid date is: 04-22-2020.csv
92  st day valid date is: 04-23-2020.csv
93  st day valid date is: 04-24-2020.csv
94  st day valid date is: 04-25-2020.csv
95  st day valid date is: 04-26-2020.csv
96  st day valid date is: 04-27-2020.csv
97  st day valid date is: 04-28-2020.csv
98  st day valid date is: 04-29-2020.csv
99  st day valid date is: 04-30-2020.csv
100  st day valid date is: 05-01-2020.csv
101  st day valid date is: 05-02-2020.csv
102  st day valid date is: 05-03-2020.csv
103  st day valid date is: 05-04-2020.csv
104  st day valid date is: 05-05-2020.csv
105  st day valid date is: 05-06-2020.csv

In [5]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-07 02:32:28,34.223334,-82.461707,33,0,0,33,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-07 02:32:28,30.295065,-92.414197,140,10,0,130,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-07 02:32:28,37.767072,-75.632346,429,7,0,422,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-07 02:32:28,43.452658,-116.241552,717,19,0,698,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-07 02:32:28,41.330756,-94.471059,3,0,0,3,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3211,NaN,NaN,NaN,West Bank and Gaza,2020-05-07 02:32:28,31.952200,35.233200,374,2,174,198,West Bank and Gaza
3212,NaN,NaN,NaN,Western Sahara,2020-05-07 02:32:28,24.215500,-12.885800,6,0,5,1,Western Sahara
3213,NaN,NaN,NaN,Yemen,2020-05-07 02:32:28,15.552727,48.516388,25,5,1,19,Yemen
3214,NaN,NaN,NaN,Zambia,2020-05-07 02:32:28,-13.133897,27.849332,146,4,101,41,Zambia
3215,NaN,NaN,NaN,Zimbabwe,2020-05-07 02:32:28,-19.015438,29.154857,34,4,5,25,Zimbabwe

In [6]:
df['Country_Region'].value_counts()

US                2951
China               33
Canada              15
France              11
United Kingdom      11
                  ...
Indonesia            1
Slovakia             1
Kuwait               1
Algeria              1
Argentina            1
Name: Country_Region, Length: 187, dtype: int64

In [7]:
df[df['Country_Region']=='India']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3109,NaN,NaN,NaN,India,2020-05-07 02:32:28,20.593684,78.96288,52987,1785,15331,35871,India

In [8]:
df[df['Country_Region']=='United Kingdom']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
2945,NaN,NaN,Anguilla,United Kingdom,2020-05-07 02:32:28,18.220600,-63.068600,3,0,3,0,"Anguilla, United Kingdom"
2950,NaN,NaN,Bermuda,United Kingdom,2020-05-07 02:32:28,32.307800,-64.750500,118,7,59,52,"Bermuda, United Kingdom"
2953,NaN,NaN,British Virgin Islands,United Kingdom,2020-05-07 02:32:28,18.420700,-64.640000,7,1,3,3,"British Virgin Islands, United Kingdom"
2954,NaN,NaN,Cayman Islands,United Kingdom,2020-05-07 02:32:28,19.313300,-81.254600,78,1,30,47,"Cayman Islands, United Kingdom"
2955,NaN,NaN,Channel Islands,United Kingdom,2020-05-07 02:32:28,49.372300,-2.364400,545,40,406,99,"Channel Islands, United Kingdom"
2960,NaN,NaN,Falkland Islands (Malvinas),United Kingdom,2020-05-07 02:32:28,-51.796300,-59.523600,13,0,13,0,"Falkland Islands (Malvinas), United Kingdom"
2966,NaN,NaN,Gibraltar,United Kingdom,2020-05-07 02:32:28,36.140800,-5.353600,144,0,136,8,"Gibraltar, United Kingdom"
2983,NaN,NaN,Isle of Man,United Kingdom,2020-05-07 02:32:28,54.236100,-4.548100,327,23,271,33,"Isle of Man, United Kingdom"
2992,NaN,NaN,Montserrat,United Kingdom,2020-05-07 02:32:28,16.742498,-62.187366,11,1,7,3,"Montserrat, United Kingdom"
3025,NaN,NaN,Turks and Caicos Islands,United Kingdom,2020-05-07 02:32:28,21.694000,-71.797900,12,1,6,5,"Turks and Caicos Islands, United Kingdom"
3206,NaN,NaN,NaN,United Kingdom,2020-05-07 02:32:28,55.378100,-3.436000,201101,30076,0,171025,United Kingdom

In [9]:
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-07 02:32:28,34.223334,-82.461707,33,0,0,33,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-07 02:32:28,30.295065,-92.414197,140,10,0,130,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-07 02:32:28,37.767072,-75.632346,429,7,0,422,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-07 02:32:28,43.452658,-116.241552,717,19,0,698,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-07 02:32:28,41.330756,-94.471059,3,0,0,3,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
3211,NaN,NaN,NaN,West Bank and Gaza,2020-05-07 02:32:28,31.952200,35.233200,374,2,174,198,West Bank and Gaza
3212,NaN,NaN,NaN,Western Sahara,2020-05-07 02:32:28,24.215500,-12.885800,6,0,5,1,Western Sahara
3213,NaN,NaN,NaN,Yemen,2020-05-07 02:32:28,15.552727,48.516388,25,5,1,19,Yemen
3214,NaN,NaN,NaN,Zambia,2020-05-07 02:32:28,-13.133897,27.849332,146,4,101,41,Zambia
3215,NaN,NaN,NaN,Zimbabwe,2020-05-07 02:32:28,-19.015438,29.154857,34,4,5,25,Zimbabwe

In [10]:
df['Country_Region'].nunique()

187

In [11]:
countries_with_province = df[pd.notnull(df['Province_State'])]

In [12]:
countries_with_province['Province_State'].nunique()

137

In [13]:
countries_with_province['Country_Region'].nunique()

8

In [14]:
countries_with_province[countries_with_province['Country_Region']=='US']

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-05-07 02:32:28,34.223334,-82.461707,33,0,0,33,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-05-07 02:32:28,30.295065,-92.414197,140,10,0,130,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-05-07 02:32:28,37.767072,-75.632346,429,7,0,422,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-05-07 02:32:28,43.452658,-116.241552,717,19,0,698,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-05-07 02:32:28,41.330756,-94.471059,3,0,0,3,"Adair, Iowa, US"
...,...,...,...,...,...,...,...,...,...,...,...,...
2971,66.0,NaN,Guam,US,2020-05-07 02:32:28,13.444300,144.793700,149,5,0,144,"Guam, US"
2998,69.0,NaN,Northern Mariana Islands,US,2020-05-07 02:32:28,15.097900,145.673900,15,2,0,13,"Northern Mariana Islands, US"
3004,72.0,NaN,Puerto Rico,US,2020-05-07 02:32:28,18.220800,-66.590100,1968,99,0,1869,"Puerto Rico, US"
3009,NaN,NaN,Recovered,US,2020-05-07 02:32:28,NaN,NaN,0,0,189910,-167345,"Recovered, US"
3027,78.0,NaN,Virgin Islands,US,2020-05-07 02:32:28,18.335800,-64.896300,66,4,0,62,"Virgin Islands, US"

In [15]:
countries_with_province.groupby(['Country_Region']).count()

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
Australia,0,0,8,8,8,8,8,8,8,8,8
Canada,0,0,15,15,12,12,15,15,15,15,15
China,0,0,33,33,33,33,33,33,33,33,33
Denmark,0,0,2,2,2,2,2,2,2,2,2
France,0,0,10,10,10,10,10,10,10,10,10
Netherlands,0,0,4,4,4,4,4,4,4,4,4
US,2941,2944,2951,2951,2889,2889,2951,2951,2951,2951,2951
United Kingdom,0,0,10,10,10,10,10,10,10,10,10

In [16]:
countries_with_province['Province_State'].value_counts()

Texas               218
Georgia             160
Virginia            134
Kentucky            113
Missouri            102
                   ...
Saint Barthelemy      1
Guadeloupe            1
Tasmania              1
Saskatchewan          1
Inner Mongolia        1
Name: Province_State, Length: 137, dtype: int64

In [17]:
countries_without_province = df[pd.isnull(df['Province_State'])]

In [18]:
countries_without_province

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
3033,NaN,NaN,NaN,Afghanistan,2020-05-07 02:32:28,33.939110,67.709953,3392,104,458,2830,Afghanistan
3034,NaN,NaN,NaN,Albania,2020-05-07 02:32:28,41.153300,20.168300,832,31,595,206,Albania
3035,NaN,NaN,NaN,Algeria,2020-05-07 02:32:28,28.033900,1.659600,4997,476,2197,2324,Algeria
3036,NaN,NaN,NaN,Andorra,2020-05-07 02:32:28,42.506300,1.521800,751,46,521,184,Andorra
3037,NaN,NaN,NaN,Angola,2020-05-07 02:32:28,-11.202700,17.873900,36,2,11,23,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...
3211,NaN,NaN,NaN,West Bank and Gaza,2020-05-07 02:32:28,31.952200,35.233200,374,2,174,198,West Bank and Gaza
3212,NaN,NaN,NaN,Western Sahara,2020-05-07 02:32:28,24.215500,-12.885800,6,0,5,1,Western Sahara
3213,NaN,NaN,NaN,Yemen,2020-05-07 02:32:28,15.552727,48.516388,25,5,1,19,Yemen
3214,NaN,NaN,NaN,Zambia,2020-05-07 02:32:28,-13.133897,27.849332,146,4,101,41,Zambia
3215,NaN,NaN,NaN,Zimbabwe,2020-05-07 02:32:28,-19.015438,29.154857,34,4,5,25,Zimbabwe

In [19]:
countries_without_province['Country_Region'].value_counts()

Tunisia               1
Panama                1
West Bank and Gaza    1
Diamond Princess      1
Barbados              1
                     ..
Rwanda                1
Iraq                  1
Slovenia              1
Maldives              1
Argentina             1
Name: Country_Region, Length: 183, dtype: int64

In [20]:
countries_without_province['Country_Region'].nunique()

183

In [21]:
pd.set_option('display.max_rows', 500)

In [22]:
countries_without_province.groupby(['Country_Region']).count()

,FIPS,Admin2,Province_State,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
Country_Region,,,,,,,,,,,
Afghanistan,0,0,0,1,1,1,1,1,1,1,1
Albania,0,0,0,1,1,1,1,1,1,1,1
Algeria,0,0,0,1,1,1,1,1,1,1,1
Andorra,0,0,0,1,1,1,1,1,1,1,1
Angola,0,0,0,1,1,1,1,1,1,1,1
Antigua and Barbuda,0,0,0,1,1,1,1,1,1,1,1
Argentina,0,0,0,1,1,1,1,1,1,1,1
Armenia,0,0,0,1,1,1,1,1,1,1,1
Austria,0,0,0,1,1,1,1,1,1,1,1
Azerbaijan,0,0,0,1,1,1,1,1,1,1,1
Bahamas,0,0,0,1,1,1,1,1,1,1,1
Bahrain,0,0,0,1,1,1,1,1,1,1,1
Bangladesh,0,0,0,1,1,1,1,1,1,1,1
Barbados,0,0,0,1,1,1,1,1,1,1,1
Belarus,0,0,0,1,1,1,1,1,1,1,1
Belgium,0,0,0,1,1,1,1,1,1,1,1
Belize,0,0,0,1,1,1,1,1,1,1,1
Benin,0,0,0,1,1,1,1,1,1,1,1
Bhutan,0,0,0,1,1,1,1,1,1,1,1
Bolivia,0,0,0,1,1,1,1,1,1,1,1
Bosnia and Herzegovina,0,0,0,1,1,1,1,1,1,1,1
Botswana,0,0,0,1,1,1,1,1,1,1,1
Brazil,0,0,0,1,1,1,1,1,1,1,1
Brunei,0,0,0,1,1,1,1,1,1,1,1
Bulgaria,0,0,0,1,1,1,1,1,1,1,1
Burkina Faso,0,0,0,1,1,1,1,1,1,1,1
Burma,0,0,0,1,1,1,1,1,1,1,1
Burundi,0,0,0,1,1,1,1,1,1,1,1
Cabo Verde,0,0,0,1,1,1,1,1,1,1,1
Cambodia,0,0,0,1,1,1,1,1,1,1,1
Cameroon,0,0,0,1,1,1,1,1,1,1,1
Central African Republic,0,0,0,1,1,1,1,1,1,1,1
Chad,0,0,0,1,1,1,1,1,1,1,1
Chile,0,0,0,1,1,1,1,1,1,1,1
Colombia,0,0,0,1,1,1,1,1,1,1,1
Comoros,0,0,0,1,1,1,1,1,1,1,1
Congo (Brazzaville),0,0,0,1,1,1,1,1,1,1,1
Congo (Kinshasa),0,0,0,1,1,1,1,1,1,1,1
Costa Rica,0,0,0,1,1,1,1,1,1,1,1
Cote d'Ivoire,0,0,0,1,1,1,1,1,1,1,1
Croatia,0,0,0,1,1,1,1,1,1,1,1
Cuba,0,0,0,1,1,1,1,1,1,1,1
Cyprus,0,0,0,1,1,1,1,1,1,1,1
Czechia,0,0,0,1,1,1,1,1,1,1,1
Denmark,0,0,0,1,1,1,1,1,1,1,1
Diamond Princess,0,0,0,1,0,0,1,1,1,1,1
Djibouti,0,0,0,1,1,1,1,1,1,1,1
Dominica,0,0,0,1,1,1,1,1,1,1,1
Dominican Republic,0,0,0,1,1,1,1,1,1,1,1
Ecuador,0,0,0,1,1,1,1,1,1,1,1
Egypt,0,0,0,1,1,1,1,1,1,1,1
El Salvador,0,0,0,1,1,1,1,1,1,1,1
Equatorial Guinea,0,0,0,1,1,1,1,1,1,1,1
Eritrea,0,0,0,1,1,1,1,1,1,1,1
Estonia,0,0,0,1,1,1,1,1,1,1,1
Eswatini,0,0,0,1,1,1,1,1,1,1,1
Ethiopia,0,0,0,1,1,1,1,1,1,1,1
Fiji,0,0,0,1,1,1,1,1,1,1,1
Finland,0,0,0,1,1,1,1,1,1,1,1
France,0,0,0,1,1,1,1,1,1,1,1
Gabon,0,0,0,1,1,1,1,1,1,1,1
Gambia,0,0,0,1,1,1,1,1,1,1,1
Georgia,0,0,0,1,1,1,1,1,1,1,1
Germany,0,0,0,1,1,1,1,1,1,1,1
Ghana,0,0,0,1,1,1,1,1,1,1,1
Greece,0,0,0,1,1,1,1,1,1,1,1
Grenada,0,0,0,1,1,1,1,1,1,1,1
Guatemala,0,0,0,1,1,1,1,1,1,1,1
Guinea,0,0,0,1,1,1,1,1,1,1,1
Guinea-Bissau,0,0,0,1,1,1,1,1,1,1,1
Guyana,0,0,0,1,1,1,1,1,1,1,1
Haiti,0,0,0,1,1,1,1,1,1,1,1
Holy See,0,0,0,1,1,1,1,1,1,1,1
Honduras,0,0,0,1,1,1,1,1,1,1,1
Hungary,0,0,0,1,1,1,1,1,1,1,1
Iceland,0,0,0,1,1,1,1,1,1,1,1
India,0,0,0,1,1,1,1,1,1,1,1
Indonesia,0,0,0,1,1,1,1,1,1,1,1
Iran,0,0,0,1,1,1,1,1,1,1,1
Iraq,0,0,0,1,1,1,1,1,1,1,1
Ireland,0,0,0,1,1,1,1,1,1,1,1
Israel,0,0,0,1,1,1,1,1,1,1,1
Italy,0,0,0,1,1,1,1,1,1,1,1
Jamaica,0,0,0,1,1,1,1,1,1,1,1
Japan,0,0,0,1,1,1,1,1,1,1,1
Jordan,0,0,0,1,1,1,1,1,1,1,1
Kazakhstan,0,0,0,1,1,1,1,1,1,1,1
Kenya,0,0,0,1,1,1,1,1,1,1,1
"Korea, South",0,0,0,1,1,1,1,1,1,1,1
Kosovo,0,0,0,1,1,1,1,1,1,1,1
Kuwait,0,0,0,1,1,1,1,1,1,1,1
Kyrgyzstan,0,0,0,1,1,1,1,1,1,1,1
Laos,0,0,0,1,1,1,1,1,1,1,1
Latvia,0,0,0,1,1,1,1,1,1,1,1
Lebanon,0,0,0,1,1,1,1,1,1,1,1
Liberia,0,0,0,1,1,1,1,1,1,1,1
Libya,0,0,0,1,1,1,1,1,1,1,1
Liechtenstein,0,0,0,1,1,1,1,1,1,1,1
Lithuania,0,0,0,1,1,1,1,1,1,1,1
Luxembourg,0,0,0,1,1,1,1,1,1,1,1
MS Zaandam,0,0,0,1,0,0,1,1,1,1,1
Madagascar,0,0,0,1,1,1,1,1,1,1,1
Malawi,0,0,0,1,1,1,1,1,1,1,1
Malaysia,0,0,0,1,1,1,1,1,1,1,1
Maldives,0,0,0,1,1,1,1,1,1,1,1
Mali,0,0,0,1,1,1,1,1,1,1,1
Malta,0,0,0,1,1,1,1,1,1,1,1
Mauritania,0,0,0,1,1,1,1,1,1,1,1
Mauritius,0,0,0,1,1,1,1,1,1,1,1
Mexico,0,0,0,1,1,1,1,1,1,1,1
Moldova,0,0,0,1,1,1,1,1,1,1,1
Monaco,0,0,0,1,1,1,1,1,1,1,1
Mongolia,0,0,0,1,1,1,1,1,1,1,1
Montenegro,0,0,0,1,1,1,1,1,1,1,1
Morocco,0,0,0,1,1,1,1,1,1,1,1
Mozambique,0,0,0,1,1,1,1,1,1,1,1
Namibia,0,0,0,1,1,1,1,1,1,1,1
Nepal,0,0,0,1,1,1,1,1,1,1,1
Netherlands,0,0,0,1,1,1,1,1,1,1,1
New Zealand,0,0,0,1,1,1,1,1,1,1,1
Nicaragua,0,0,0,1,1,1,1,1,1,1,1
Niger,0,0,0,1,1,1,1,1,1,1,1
Nigeria,0,0,0,1,1,1,1,1,1,1,1
North Macedonia,0,0,0,1,1,1,1,1,1,1,1
Norway,0,0,0,1,1,1,1,1,1,1,1
Oman,0,0,0,1,1,1,1,1,1,1,1
Pakistan,0,0,0,1,1,1,1,1,1,1,1
Panama,0,0,0,1,1,1,1,1,1,1,1
Papua New Guinea,0,0,0,1,1,1,1,1,1,1,1
Paraguay,0,0,0,1,1,1,1,1,1,1,1
Peru,0,0,0,1,1,1,1,1,1,1,1
Philippines,0,0,0,1,1,1,1,1,1,1,1
Poland,0,0,0,1,1,1,1,1,1,1,1
Portugal,0,0,0,1,1,1,1,1,1,1,1
Qatar,0,0,0,1,1,1,1,1,1,1,1
Romania,0,0,0,1,1,1,1,1,1,1,1
Russia,0,0,0,1,1,1,1,1,1,1,1
Rwanda,0,0,0,1,1,1,1,1,1,1,1
Saint Kitts and Nevis,0,0,0,1,1,1,1,1,1,1,1
Saint Lucia,0,0,0,1,1,1,1,1,1,1,1
Saint Vincent and the Grenadines,0,0,0,1,1,1,1,1,1,1,1
San Marino,0,0,0,1,1,1,1,1,1,1,1
Sao Tome and Principe,0,0,0,1,1,1,1,1,1,1,1
Saudi Arabia,0,0,0,1,1,1,1,1,1,1,1
Senegal,0,0,0,1,1,1,1,1,1,1,1
Serbia,0,0,0,1,1,1,1,1,1,1,1
Seychelles,0,0,0,1,1,1,1,1,1,1,1
Sierra Leone,0,0,0,1,1,1,1,1,1,1,1
Singapore,0,0,0,1,1,1,1,1,1,1,1
Slovakia,0,0,0,1,1,1,1,1,1,1,1
Slovenia,0,0,0,1,1,1,1,1,1,1,1
Somalia,0,0,0,1,1,1,1,1,1,1,1
South Africa,0,0,0,1,1,1,1,1,1,1,1
South Sudan,0,0,0,1,1,1,1,1,1,1,1
Spain,0,0,0,1,1,1,1,1,1,1,1
Sri Lanka,0,0,0,1,1,1,1,1,1,1,1
Sudan,0,0,0,1,1,1,1,1,1,1,1
Suriname,0,0,0,1,1,1,1,1,1,1,1
Sweden,0,0,0,1,1,1,1,1,1,1,1
Switzerland,0,0,0,1,1,1,1,1,1,1,1
Syria,0,0,0,1,1,1,1,1,1,1,1
Taiwan*,0,0,0,1,1,1,1,1,1,1,1
Tajikistan,0,0,0,1,1,1,1,1,1,1,1
Tanzania,0,0,0,1,1,1,1,1,1,1,1
Thailand,0,0,0,1,1,1,1,1,1,1,1
Timor-Leste,0,0,0,1,1,1,1,1,1,1,1
Togo,0,0,0,1,1,1,1,1,1,1,1
Trinidad and Tobago,0,0,0,1,1,1,1,1,1,1,1
Tunisia,0,0,0,1,1,1,1,1,1,1,1
Turkey,0,0,0,1,1,1,1,1,1,1,1
Uganda,0,0,0,1,1,1,1,1,1,1,1
Ukraine,0,0,0,1,1,1,1,1,1,1,1
United Arab Emirates,0,0,0,1,1,1,1,1,1,1,1
United Kingdom,0,0,0,1,1,1,1,1,1,1,1
Uruguay,0,0,0,1,1,1,1,1,1,1,1
Uzbekistan,0,0,0,1,1,1,1,1,1,1,1
Venezuela,0,0,0,1,1,1,1,1,1,1,1
Vietnam,0,0,0,1,1,1,1,1,1,1,1
West Bank and Gaza,0,0,0,1,1,1,1,1,1,1,1
Western Sahara,0,0,0,1,1,1,1,1,1,1,1
Yemen,0,0,0,1,1,1,1,1,1,1,1
Zambia,0,0,0,1,1,1,1,1,1,1,1
Zimbabwe,0,0,0,1,1,1,1,1,1,1,1

In [23]:
list_of_countries_without_proivince = countries_without_province['Country_Region'].unique()

## Get data for India day by day

In [24]:
df1 = pd.read_csv('data/02-22-2020.csv')

In [25]:
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-22T23:33:06,64084,2346,15299
1,Guangdong,Mainland China,2020-02-22T10:03:04,1339,5,728
2,Henan,Mainland China,2020-02-22T14:13:38,1270,19,830
3,Zhejiang,Mainland China,2020-02-22T11:13:13,1205,1,719
4,Hunan,Mainland China,2020-02-22T10:03:04,1013,4,692

In [26]:
df1[df1['Country/Region']=='India']['Confirmed'].values[0]

3

In [27]:
df2 = pd.read_csv('data/04-22-2020.csv')

In [28]:
df2.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-04-22 23:30:53,34.223334,-82.461707,22,0,0,22,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-04-22 23:30:53,30.295065,-92.414197,117,7,0,110,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-04-22 23:30:53,37.767072,-75.632346,59,1,0,58,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-04-22 23:30:53,43.452658,-116.241552,622,12,0,610,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-04-22 23:30:53,41.330756,-94.471059,1,0,0,1,"Adair, Iowa, US"

In [29]:
try:
  print(df2['Country_Region'])
except:
  print(df2['Country/Region'])

0                       US
1                       US
2                       US
3                       US
4                       US
               ...
3094    West Bank and Gaza
3095        Western Sahara
3096                 Yemen
3097                Zambia
3098              Zimbabwe
Name: Country_Region, Length: 3099, dtype: object

### Reading daily data to get India's count

In [30]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
database = myclient["covid-19"]
countries_collection = database["countries"]

In [31]:
def get_daily_data_for_country(country, df, valid_date, first_case_found):
    try:
        confirmed_cases = df[df['Country/Region']==country]['Confirmed']
        death_cases = df[df['Country/Region']==country]['Deaths']
        recovered_cases = df[df['Country/Region']==country]['Recovered']
        if len(confirmed_cases) > 0:
            print("Total number of confirmed cases in Country/Region", country, ' on ', valid_date, ' was ', df[df['Country/Region']==country]['Confirmed'].values[0])
            confirmed_cases_count = df[df['Country/Region']==country]['Confirmed'].values[0]
        if len(death_cases) > 0:
            print("Total number of deaths in Country/Region", country, ' on ', valid_date, ' was ', df[df['Country/Region']==country]['Deaths'].values[0])
            death_cases_count = df[df['Country/Region']==country]['Deaths'].values[0]
        if len(recovered_cases) > 0:
            print("Total number of recovered cases in Country/Region", country, ' on ', valid_date, ' was ', df[df['Country/Region']==country]['Recovered'].values[0])   
            recovered_cases_count = df[df['Country/Region']==country]['Recovered'].values[0]
            return confirmed_cases_count, death_cases_count, recovered_cases_count, valid_date
        else:
            print('No cases found in Country/Region ', country, ' on ', valid_date)
            return 0, 0, 0, valid_date
    except:
        confirmed_cases = df[df['Country_Region']==country]['Confirmed']
        death_cases = df[df['Country_Region']==country]['Deaths']
        recovered_cases = df[df['Country_Region']==country]['Recovered']
        if len(confirmed_cases) > 0:
            print("Total number of confirmed cases in Country_Region", country, ' on ', valid_date, ' was ', df[df['Country_Region']==country]['Confirmed'].values[0])
            confirmed_cases_count = df[df['Country_Region']==country]['Confirmed'].values[0]
        if len(death_cases) > 0:
            print("Total number of deaths in Country_Region", country, ' on ', valid_date, ' was ', df[df['Country_Region']==country]['Deaths'].values[0])
            death_cases_count = df[df['Country_Region']==country]['Deaths'].values[0]
        if len(recovered_cases) > 0:
            print("Total number of recovered cases in Country_Region", country, ' on ', valid_date, ' was ', df[df['Country_Region']==country]['Recovered'].values[0])   
            recovered_cases_count = df[df['Country_Region']==country]['Recovered'].values[0]
            return confirmed_cases_count, death_cases_count, recovered_cases_count, valid_date
        else:
            print('No cases found in Country_Region ', country, ' on ', valid_date)
            return 0, 0 , 0, valid_date

In [32]:
# def create_entry_for_country(country, date_of_first_incident, total_confirmed, delta_confirmed, total_deaths, delta_deaths, total_recovered, delta_recovered, total_active, delta_active):   
#     time_series = []
#     date_obj = [{
#         "date": str(date_of_first_incident),
#         "confirmed": {"count": total_confirmed, "delta": delta_confirmed },
#         "deaths": {"count": total_deaths, "delta": delta_deaths},
#         "recovered": {"count": total_recovered, "delta": delta_recovered},
#         "active": {"count":total_active, "delta": delta_active},
#     }]
#     #time_series.append[date_obj]
#     datax =  {
#         "name": country,
#         "coordinates":
#         {
#             "lat": "0",
#             "long": "0"
#         },
#         "firstIncidentDate": date_of_first_incident,
#         "timesSeries":date_obj,
#         "lastUpdatedAt": "04-25-2020",
#         "province": "NA"

#     }
#     x = countries_collection.insert_one(datax)

In [33]:
def add_data_for_country_to_db(country,date, total_confirmed, delta_confirmed, total_deaths, delta_deaths, total_recovered, delta_recovered, total_active, delta_active):
    if countries_collection.find({'name': country}).count() >0:
        time_series = []
        date_obj = {
            "date": str(date_of_first_incident),
            "confirmed": {"count": total_confirmed, "delta": delta_confirmed },
            "deaths": {"count": total_deaths, "delta": delta_deaths},
            "recovered": {"count": total_recovered, "delta": delta_recovered},
            "active": {"count":total_active, "delta": delta_active},
        }
        countries_collection.update({'name': country}, {'$push': {'timesSeries': date_obj}}) 
    else:
        time_series = []
        date_obj = [{
        "date": str(date_of_first_incident),
        "confirmed": {"count": total_confirmed, "delta": delta_confirmed },
        "deaths": {"count": total_deaths, "delta": delta_deaths},
        "recovered": {"count": total_recovered, "delta": delta_recovered},
        "active": {"count":total_active, "delta": delta_active},
        }]
        #time_series.append[date_obj]
        datax =  {
            "name": country,
            "coordinates":
            {
                "lat": '0',
                "long": '0'
            },
            "firstIncidentDate": date_of_first_incident,
            "timesSeries":date_obj,
            "lastUpdatedAt": "04-25-2020",
            "province": "NA"

        }
        print(datax)
        x = countries_collection.insert_one(datax)

In [34]:
# def add_data_for_country(country, date, total_confirmed, delta_confirmed, total_deaths, delta_deaths, total_recovered, delta_recovered, total_active, delta_active):
#     time_series = []
#     date_obj = {
#         "date": str(date_of_first_incident),
#         "confirmed": {"count": total_confirmed, "delta": delta_confirmed },
#         "deaths": {"count": total_deaths, "delta": delta_deaths},
#         "recovered": {"count": total_recovered, "delta": delta_recovered},
#         "active": {"count":total_active, "delta": delta_active},
#     }    
#     countries_collection.update({'name': country}, {'$push': {'timesSeries': date_obj}})

In [35]:
#sample_dict = {'name': 'India', 'coordinates': {'lat': '0', 'long': '0'}, 'firstIncidentDate': '01-30-2020', 'timesSeries': [{'date': '01-30-2020', 'confirmed': {'count': 1, 'delta': 1}, 'deaths': {'count': 0, 'delta': 0}, 'recovered': {'count': 0, 'delta': 0}, 'active': {'count': 0, 'delta': 0}}], 'lastUpdatedAt': '04-25-2020', 'province': 'NA'}

In [36]:
#type(sample_dict)

In [37]:
#x = countries_collection.insert_one(sample_dict)

In [9]:
today = datetime.date.today()
first_available_data_date = datetime.date(2020,1,22)
days_since_first_data = (today-first_available_data_date).days
date_iterator = first_available_data_date
first_case_found = False
previous_confirmed_count = 0;
previous_deaths_count = 0;
previous_recovered_count = 0;
list_of_countries = ['India','Pakistan','Afghanistan']
for country in list_of_countries:
    for day in range(days_since_first_data):
        date_iterator_month = str(date_iterator.month) if len(str(date_iterator.month)) > 1 else '0'+str(date_iterator.month)
        date_iterator_day = str(date_iterator.day) if len(str(date_iterator.day)) > 1 else '0'+str(date_iterator.day)
        date_iterator_year = str(date_iterator.year)
        valid_date = date_iterator_month + '-' + date_iterator_day + '-' + date_iterator_year
        valid_file_name = date_iterator_month + '-' + date_iterator_day + '-' + date_iterator_year +'.csv'

        #print(day," st day valid date is:",valid_file_name)
        df = pd.read_csv('data/'+valid_file_name)
        df.fillna(0, axis=1,inplace=True)
        print(country, valid_date)
#         total_confirmed, total_deaths, total_recovered, date_of_first_incident = get_daily_data_for_country(country,df,valid_date,first_case_found)
#         delta_confirmed = total_confirmed - previous_confirmed_count
#         delta_deaths = total_deaths - previous_deaths_count
#         delta_recovered = total_recovered - previous_recovered_count
#         print('delta confirmed is', delta_confirmed)
#         print('delta deaths is', delta_deaths)
#         print('delta recovered is', delta_recovered)

#         previous_confirmed_count = total_confirmed
#         previous_deaths_count = total_deaths
#         previous_recovered_count = total_recovered

#         if total_confirmed > 0:
#             if first_case_found == False:
#                 print('Frist case for', country,  'on' , date_of_first_incident )
#                 add_data_for_country_to_db(country, date_of_first_incident, int(total_confirmed), int(delta_confirmed), total_deaths=0, delta_deaths=0, total_recovered=0, delta_recovered=0, total_active=0, delta_active=0)
#                 first_case_found = True
#             else:
#                 add_data_for_country_to_db(country, valid_date, int(total_confirmed), int(delta_confirmed), int(total_deaths), int(delta_deaths), int(total_recovered), int(delta_recovered),total_active=0, delta_active=0)


        date_iterator = date_iterator + datetime.timedelta(days=1)

India 01-22-2020
India 01-23-2020
India 01-24-2020
India 01-25-2020
India 01-26-2020
India 01-27-2020
India 01-28-2020
India 01-29-2020
India 01-30-2020
India 01-31-2020
India 02-01-2020
India 02-02-2020
India 02-03-2020
India 02-04-2020
India 02-05-2020
India 02-06-2020
India 02-07-2020
India 02-08-2020
India 02-09-2020
India 02-10-2020
India 02-11-2020
India 02-12-2020
India 02-13-2020
India 02-14-2020
India 02-15-2020
India 02-16-2020
India 02-17-2020
India 02-18-2020
India 02-19-2020
India 02-20-2020
India 02-21-2020
India 02-22-2020
India 02-23-2020
India 02-24-2020
India 02-25-2020
India 02-26-2020
India 02-27-2020
India 02-28-2020
India 02-29-2020
India 03-01-2020
India 03-02-2020
India 03-03-2020
India 03-04-2020
India 03-05-2020
India 03-06-2020
India 03-07-2020
India 03-08-2020
India 03-09-2020
India 03-10-2020
India 03-11-2020
India 03-12-2020
India 03-13-2020
India 03-14-2020
India 03-15-2020
India 03-16-2020
India 03-17-2020
India 03-18-2020
India 03-19-2020
India 03-20-2020
India 03-21-2020
India 03-22-2020
India 03-23-2020
India 03-24-2020
India 03-25-2020
India 03-26-2020
India 03-27-2020
India 03-28-2020
India 03-29-2020
India 03-30-2020
India 03-31-2020
India 04-01-2020
India 04-02-2020
India 04-03-2020
India 04-04-2020
India 04-05-2020
India 04-06-2020
India 04-07-2020
India 04-08-2020
India 04-09-2020
India 04-10-2020
India 04-11-2020
India 04-12-2020
India 04-13-2020
India 04-14-2020
India 04-15-2020
India 04-16-2020
India 04-17-2020
India 04-18-2020
India 04-19-2020
India 04-20-2020
India 04-21-2020
India 04-22-2020
India 04-23-2020
India 04-24-2020
India 04-25-2020
India 04-26-2020
India 04-27-2020
India 04-28-2020
India 04-29-2020
India 04-30-2020
India 05-01-2020
India 05-02-2020
India 05-03-2020
India 05-04-2020
India 05-05-2020
Pakistan 05-06-2020

FileNotFoundError: [Errno 2] File data/05-07-2020.csv does not exist: 'data/05-07-2020.csv'

In [ ]:
pwd

In [ ]:
df_latest = pd.read_csv('data/05-06-2020.csv')

In [ ]:
df_latest.head()

In [ ]:
us_data = df_latest[df['Country_Region']=='Italy']

In [ ]:
us_data['Confirmed'].sum()

In [ ]:
us_data['Deaths'].sum()

In [ ]:
df_latest['Confirmed'].sum()